<!---------------SVG ICONS--------------------->

<!-- TELEPHONE -->
<svg display="none">
  <symbol id="phone" viewBox="0 0 511.999 511.999">
    <g>
      <path d="M498.827,377.633l-63.649-63.649c-17.548-17.547-46.102-17.547-63.649,0l-28.931,28.931
			   c-13.294,13.294-34.926,13.29-48.215,0.005l-125.4-125.507c-13.325-13.325-13.327-34.892,0-48.219
			   c4.66-4.66,18.041-18.041,28.931-28.931c17.471-17.47,17.715-45.935-0.017-63.665l-63.632-63.432
			   C116.717-4.381,88.164-4.381,70.663,13.12C57.567,26.102,53.343,30.29,47.471,36.111c-63.28,63.279-63.28,166.242-0.003,229.519
			   l198.692,198.796c63.428,63.429,166.088,63.434,229.521,0l23.146-23.145C516.375,423.733,516.375,395.181,498.827,377.633z
			   M91.833,34.382c5.849-5.849,15.365-5.85,21.233,0.016l63.632,63.432c5.863,5.863,5.863,15.352,0,21.216l-10.609,10.608
			   l-84.81-84.81L91.833,34.382z M267.38,443.213L68.687,244.415c-48.958-48.958-51.649-125.833-8.276-178.006l84.564,84.564
			   c-22.22,25.189-21.294,63.572,2.787,87.653l125.396,125.501c0.001,0.001,0.003,0.003,0.004,0.004
			   c24.055,24.056,62.436,25.042,87.656,2.792l84.566,84.566C393.377,494.787,316.675,492.508,267.38,443.213z M477.612,420.065
			   l-10.609,10.609l-84.865-84.866l10.607-10.608c5.85-5.849,15.367-5.85,21.217,0l63.649,63.649
			   C483.461,404.699,483.461,414.217,477.612,420.065z" />
    </g>
  </symbol>
</svg>

<!-- ADRESS -->
<svg display="none">
  <symbol id="adress" viewBox="0 0 511.999 511.999">
    <g>
      <path d="M511.864,221.487c-0.921-11.988-6.455-22.896-15.581-30.716l-44.286-37.96V44.944c0-8.284-6.716-14.999-14.999-14.999
         h-59.998c-8.284,0-14.799,6.716-14.799,14.999v30.728l-75.911-64.695c-16.97-14.539-41.603-14.537-58.519-0.043L15.728,190.769
         c-18.753,16.068-21.186,44.423-4.866,63.473c12.439,14.465,32.364,19.077,49.35,13.107v229.584
         c0,8.284,6.516,14.999,14.799,14.999h361.986c8.284,0,14.999-6.716,14.999-14.999V267.352c17.534,6.2,37.039,1.004,49.167-13.13
         C508.983,245.094,512.784,233.468,511.864,221.487z M391.999,59.943h30.199v67.154l-30.199-25.713V59.943z M317.202,481.934
         H195.007V361.738h122.195V481.934z M422.198,481.934h-75.197V346.939c0-8.284-6.716-14.999-14.999-14.999H180.007
         c-8.284,0-14.799,6.716-14.799,14.999v134.995H90.011V245.775l166.943-141.613l165.245,141.473V481.934z M478.389,234.694
         c-5.318,6.198-14.772,7.107-21.158,1.631L266.765,73.061c-5.595-4.797-13.845-4.817-19.464-0.05
         C243.242,76.453,55.58,235.643,54.786,236.317c-6.282,5.375-15.782,4.642-21.161-1.615c-5.385-6.285-4.657-15.774,1.569-21.11
         L247.238,33.756c5.66-4.848,13.874-4.849,19.53-0.002l209.994,179.795C483.04,218.929,483.767,228.419,478.389,234.694z" />
      <path d="M302.002,179.938h-91.996c-8.284,0-14.799,6.716-14.799,14.999v89.996c0,8.284,6.516,14.999,14.799,14.999h91.996
			  c8.284,0,14.999-6.716,14.999-14.999v-89.996C317.002,186.653,310.286,179.938,302.002,179.938z M287.203,269.935h-62.198v-59.998
			  h62.198V269.935z" />
    </g>
  </symbol>
</svg>

<!-- E-MAIL -->
<svg display="none">
  <symbol id="email" viewBox="0 0 511.974 511.974">
    <g>
      <path d="M467,61H45C20.218,61,0,81.196,0,106v300c0,24.72,20.128,45,45,45h422c24.72,0,45-20.128,45-45V106
			   C512,81.28,491.872,61,467,61z M460.786,91L256.954,294.833L51.359,91H460.786z M30,399.788V112.069l144.479,143.24L30,399.788z
			   M51.213,421l144.57-144.57l50.657,50.222c5.864,5.814,15.327,5.795,21.167-0.046L317,277.213L460.787,421H51.213z M482,399.787
			   L338.213,256L482,112.212V399.787z" />
    </g>
  </symbol>
</svg>

<!-- LINKDIN -->
<svg display="none">
  <symbol id="linkdin" viewBox="0 0 552.77 552.77">
    <g>
      <path d="M17.95,528.854h71.861c9.914,0,17.95-8.037,17.95-17.951V196.8c0-9.915-8.036-17.95-17.95-17.95H17.95
	        C8.035,178.85,0,186.885,0,196.8v314.103C0,520.816,8.035,528.854,17.95,528.854z" />
      <path d="M17.95,123.629h71.861c9.914,0,17.95-8.036,17.95-17.95V41.866c0-9.914-8.036-17.95-17.95-17.95H17.95
	        C8.035,23.916,0,31.952,0,41.866v63.813C0,115.593,8.035,123.629,17.95,123.629z" />
      <path d="M525.732,215.282c-10.098-13.292-24.988-24.223-44.676-32.791c-19.688-8.562-41.42-12.846-65.197-12.846
	        c-48.268,0-89.168,18.421-122.699,55.27c-6.672,7.332-11.523,5.729-11.523-4.186V196.8c0-9.915-8.037-17.95-17.951-17.95h-64.192
	        c-9.915,0-17.95,8.035-17.95,17.95v314.103c0,9.914,8.036,17.951,17.95,17.951h71.861c9.915,0,17.95-8.037,17.95-17.951V401.666
	        c0-45.508,2.748-76.701,8.244-93.574c5.494-16.873,15.66-30.422,30.488-40.649c14.83-10.227,31.574-15.343,50.24-15.343
	        c14.572,0,27.037,3.58,37.393,10.741c10.355,7.16,17.834,17.19,22.436,30.104c4.604,12.912,6.904,41.354,6.904,85.33v132.627
	        c0,9.914,8.035,17.951,17.949,17.951h71.861c9.914,0,17.949-8.037,17.949-17.951V333.02c0-31.445-1.982-55.607-5.941-72.48
	        S535.836,228.581,525.732,215.282z" />
    </g>
  </symbol>
</svg>

  <!--------------------FOOTER------------------------------>
<section class="footer-social">
  <section class="container ">
    <section class="row py-3 d-flex align-items-center  justify-content-between ">
      <section class=" col-sm-12 col-lg-5 text-center text-md-left">
        <p>
          Contact us on social networks!
        </p>
      </section> <!-- col-sm-12 col-lg-5 -->
      <!-- SOCIAL-LINK -->
      <section class="col-sm-12 col-lg-7 icons-social text-center  text-md-right ">
        <!-- linkdin-->
        <a target="_blank" href="#">
          <svg class="facebook">
            <use xlink:href="#linkdin"></use>
          </svg>
        </a>
      </section> <!-- col-sm-12 col-lg-7 -->
    </section> <!-- row-->
  </section><!-- container-->
</section> <!-- footer-social-->
<!------------------FOOTER-LINK-AND CONTACTS----------------->
<section class="container footer-link">
  <section class="row">
    <!-- --------------OUR COMPANY--------------------------->
    <section class="col-lg-6 col-md-12 text-center text-md-left">
      <h6>Company</h6>
      <section class="hr-heading-footer"></section>
      <p>
        Restoration's core values have been shaped over more than 8 years of delivering the finest
        restoration services to our clients. They stood to the test of time and these
        principles remain our bedrock lynchpins. We stay true to our full promise of efficiency!
      </p>
    </section>
    <!-- col-lg-6 COMPANY->

    <!-- -----------------------FOR CLINTS--------------------->
    <section class="col-lg-3 col-md-6 text-center text-md-left">
      <aside class="link-footer">
        <h6>For clints</h6>
        <section class="hr-heading-footer"></section>
        <ul>
          <li><a href="#home">About</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Gallery</a></li>
        </ul>
      </aside><!--footer-CLINTS-->
    </section> <!--col-lg-3 col-md-6 -->
    <!-- CONTACTS -->
    <section class="col-lg-3 col-md-6 text-center text-md-left">
      <h6>Контакти</h6>
      <section class="hr-heading-footer"></section>
      <!-- ADRESS -->
      <span class="footer-contact">
        <svg>
          <use xlink:href="#adress"></use>
        </svg>
        <span class="text-span">15, Jordan Hofer way, Woodbridge, Ontario</span>
      </span>
      <!-- PHONE -->
      <span class="footer-contact">
        <svg>
          <use xlink:href="#phone"></use>
        </svg>
        <span class="text-span"> 416.558.6691</span>
      </span>
      <!-- E-MAIL -->
      <span class="footer-contact">
        <svg>
          <use xlink:href="#email"></use>
        </svg>
        <span class="text-span">info@obsrestorationltd.com</span>
      </span>
    </section> <!--col-lg-4  CONTACTS-->
  </section> <!--row-->
</section><!--container footer-link-->
<!----------------------- COPYRIGHT -------------------->
<section class="footer-copyright text-center py-3">
  <p>© 2019 OBS Restoration </p>
</section><!-- Copyright -->
