
<!--------------------FOOTER------------------------------>
<section class="footer-social">
  <section class="container ">
    <section class="row py-3 d-flex align-items-center  justify-content-between">
      <section class="col-sm-12 col-md-8 text-center text-md-left ">
        <p>
          Contact us on social networks!
        </p>
      </section> <!-- col-sm-12 col-lg-5 -->
      <!-- SOCIAL-LINK -->
      <section class="col-sm-12 col-md-4 icons-social text-center  text-md-right ">
        <!-- linkdin-->
        <a target="_blank" href=" https://www.linkedin.com/in/oleg-slepenyuk-8b0406119">
                <svg class="linkedin">
            <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#linkedin"></use>
          </svg>
        </a>
      </section> <!-- col-sm-12 col-lg-7 -->
    </section> <!-- row-->
  </section><!-- container-->
</section> <!-- footer-social-->
<!------------------FOOTER-LINK-AND CONTACTS----------------->
<section class="container footer-link">
  <section class="row">
    <!-- --------------OUR COMPANY--------------------------->
    <section class="col-lg-6 col-md-12 text-center text-md-left">
      <h6>Company</h6>
      <section class="hr-heading-footer"></section>
      <p>
        Restoration's core values have been shaped over more than 8 years of delivering the finest
        restoration services to our clients. They stood to the test of time and these
        principles remain our bedrock lynchpins. We stay true to our full promise of efficiency!
      </p>
    </section>
    <!-- col-lg-6 COMPANY->
    <!-- -----------------------FOR CLINTS--------------------->
    <section class="col-lg-3 col-md-6 text-center text-md-left">
      <aside class="link-footer">
        <h6>For clints</h6>
        <section class="hr-heading-footer"></section>
        <ul>
          <li><a href="/home/#about">About</a></li>
          <li><a href="/home/Projects">Projects</a></li>
          <li><a href="/home/Gallery">Gallery</a></li>
        </ul>
      </aside><!--footer-CLINTS-->
    </section> <!--col-lg-3 col-md-6 -->
    <!-- CONTACTS -->
    <section class="col-lg-3 col-md-6 text-center text-md-left">
 
      <h6>Contacts</h6>
      <section class="hr-heading-footer"></section>
      <!-- ADRESS -->
      <span class="footer-contact">
        <svg>
          <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#placeholder"></use>
        </svg>
        <span class="text-span">15, Jordan Hofer way, Woodbridge, Ontario</span>
      </span>
      <!-- PHONE -->
      <span class="footer-contact">
        <svg>
          <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#telephone"></use>
        </svg>
        <span class="text-span"> 416.558.6691</span>
      </span>
      <!-- E-MAIL -->
      <span class="footer-contact">
        <svg>
          <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#email"></use>
        </svg>
        <span class="text-span">info@obsrestorationltd.com</span>
      </span>
    </section> <!--col-lg-4  CONTACTS-->
  </section> <!--row-->
</section><!--container footer-link-->
<!----------------------- COPYRIGHT -------------------->
<section class="footer-copyright text-center py-3">
  <p>© @DateTime.Now.Year OBS Restoration </p>
</section><!-- Copyright -->
