<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        @Html.Partial("_Header")
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        @Html.Partial("_Footer")
    </footer>
</body>
</html>
