@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
  using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
  {
    @Html.AntiForgeryToken()
    <nav class="navbar navbar-expand-lg align-items-center justify-content-end admin-nav">
        <ul class="text-center nav-admin ">
          <li>
            <a href="/Admin/Index" class="bord">
              <span class="admin">
                <svg>
                  <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#icon"></use>
                </svg>
                <span class="text-span admin-text">Admin page</span>
              </span>
            </a>
          </li>
          <li>
            <a href="/Manage/Index" class="bord">Manage account </a>
          </li>
          <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
        </ul>
      </nav>

      }
      }
