/***************** MEDIA *****************/


    @media screen and (max-width: 1024px ) {
        .slide-text {
            margin-top: 100px;
        }
          
        .admin-nav ul {
             justify-content: center;
        }
       .navbar {
            background: #000;
        }
            
       .container-fluid h2 {
            font-size: 2.5em;
        }

        .services-offer h2 {
            font-size: 1.4em;
        }
    }
    @media (min-width: 320px) and (max-width: 992px){
        .navbar a {
            font-size: 1.2em;
        }
       .admin-nav  {
            background: none;
        }
        .admin-nav a {
            font-size: .7em;
        }
    
    }

@media screen and (max-width: 768px) {
    .slide-text h2 {
        margin-left: 0;
    }

     .banner-craftsman h3 {
        margin-left: 30px;
    }

    .logo img,
    h1.logo {
        display: block;
        padding-left: 5px;
        width: 70%;
    }

    .navbar button {
        display: block;
        margin: 0 auto;
        width: 40px;
        height: 40px;
    }

    .about-advantages span {
        display: block;
        margin: 0 auto;
        top: 0;
    }

    .about-advantages h4,
    .about-advantages p {
        text-align: center;
        padding: 20px;
        margin: 0;
    }

    .navbar a {
        font-size: 1.2em;
    }

    .hiring-process {
        height: 100%;
    }

    footer p {
        padding-right: 0;
    }

    .services-offer figure p {
        font-size: 40%;
    }

    .services-offer figure h2 {
        font-size: 1.3em;
    }

    .services-bg p {
        width: 80%;
        font-size: .7em;
    }

    .services-banner h4 {
        font-size: 1em;
    }

    .admin-nav a {
        font-size: .7em;
    }
}

    @media screen and (max-width: 520px) {
        .banner-craftsman h3 {
            font-size: 1.9em;
        }
        .slide-text p {
            font-size: 0.7em;
        }
        .services-offer figure p {
            font-size: 68.5%;
        }
        .services-offer figure h2 {
            font-size: 2rem;
        }
   
    }
