@import "libs";
@import "fonts";


$bg-mask: rgba(0, 0, 0, 0.8);
$base-color: #188cb1;
$fz: 1.2em;
.container {
    margin-bottom: 100px;
}

%slide-text-style {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    animation: slideUp 2s ease-in-out;
}

%base-setting-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: anime 1.3s ease-in-out;

    span {
        color: $base-color;
    }

    h2 {
        font-size: 3.8em;
        @extend %slide-text-style;
    }
}

%btn {
    background: $base-color;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 15px;
    color: #ffffff;
    font-size: 0.75rem;
}

%hr-heading {
    height: 1px;
    text-align: center;
    width: 80px;
    padding: 0;
    display: block;
    margin: 30px auto;
    border-top: 4px solid $base-color;
}
%size-block {
    width: 100%;
    height: 100vh;
}
body {
  font-family: "Roboto", Arial, sans-serif;
  box-sizing: border-box;
   
}
header {
    width: 100%;
 }
///////////////////// NAVBAR
.navbar {
    padding: 0;
    z-index: 101;
    background: $bg-mask;


    ul {
        margin: 20px 40px 20px 40px;
    }

    li {
        padding: 10px;
    }

    a {
        color: #ffffff;
        font-size: 1vmax;
        text-transform: uppercase;

        &:hover {
            color: $base-color;
        }
    }

    button {
        margin-right: 40px;
        width: 100px;
        height: 100px;
        outline: none;
    }

    span {
        width: 50px;
        height: 50px;
    }
}

///////////////// DROPDOWN
.dropdown-menu {
  background: $bg-mask;
  border-radius: 0;
  border-width: 0;
  border-top: 3px solid $base-color;
  margin-top: 52px;
  padding: 0;
  a {
    color: #ffffff;
    &:hover {
      background: $base-color;
      color: #ffffff;
    }
  }
}

////////////////////////// LOGO

.logo img {
    max-width: 90%;
    }
h1.logo {
    margin: 20px 40px 20px 40px;
 }
//////////////////////Slider

.slider-container {
    position: relative;
     background: gray;
    @extend %size-block;
    overflow: hidden;
    z-index: 1;

}
.slider {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    animation: anime 1.3s ease-in-out;
    @extend %size-block;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    @extend %size-block;
}
.slide-text {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @extend %size-block;

    h2 {
        font-weight: 400;
        font-size: 4em;
        letter-spacing: 0.25ch;
        @extend %slide-text-style;
    }

    a {
        @extend %slide-text-style;
        @extend %btn;
        text-transform: uppercase;

        &:hover {
            background: #065670;
        }
    }

    p {
        @extend %slide-text-style;
        font-size: 1.5em;
    }
}
.curry {
    display: block;
}
    /////////////////BG SLIDER
    #slide-0 {
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../Images/Slider/img-slide-0.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    #slide-1 {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/Slider/img-slide-1.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    #slide-2 {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/Slider/img-slide-2.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }
    /////////////////////// MAIN
    .main,
    .container-fluid {
        overflow: hidden;
        padding: 0;
        margin-top: -168.8px;
     
        h2 {
            text-align: center;
            margin: 100px 0 20px 0;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .hr-heading {
        @extend %hr-heading;
    }
    // Advantages about us
    span.advantages-icon {
        position: relative;
        top: 100px;
        width: 100px;
        height: 100px;
        background: $base-color;
        display: block;
        border-radius: 50px;
        margin-left: 80px;


        &:hover {
            background: #000;
            transition: 0.5s ease-in-out;
        }
    }

    .advantages-icon svg {
        width: 50px;
        height: 50px;
        fill: #ffffff;
        position: absolute;
        left: 25px;
        top: 25px;
    }

    .about-advantages h3 {
        font-size: 1.1em;
        margin: 0 150px 15px 200px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .about-advantages p {
        margin: 0 20px 0 200px;
    }
    /************ Banner craftsmen************** */
.banner-craftsman {
    margin-top: 100px;
    width: 100%;
    height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../Images/Banner/banner-home-page.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    @extend %base-setting-bg;


    span {
        display: block;
        color: $base-color;
    }

    h3 {
        color: #ffffff;
        font-size: 4em;
        font-weight: 600;
        margin-left: 100px;
        text-transform: uppercase;
    }
}

///////////////// CLINTS
.clint-description p {
    margin-bottom: 100px;
}

.clint-card img {
    width: 100%;
    height: 250px;
}

.clint-card {
    margin-bottom: 30px;

    h3 {
        padding: 20px;
        font-size: 1.3em;
        font-weight: 700;
    }

    a {
        @extend %btn;
        width: 130px;

        &:hover {
            background: #065670;
        }
    }
}
    /////////////////////////////////////////////////////////////BANNER OFFERING
    .services-offer-banner {
        margin: 0 0 100px 0;
        width: 100%;
        height: 500px;
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../Images/Banner/offer-banner.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            color: #ffffff;
            font-size: 2em;
            font-weight: 600;
            text-transform: uppercase;
        }

        a {
            @extend %btn;
            text-transform: uppercase;

            &:hover {
                background: #065670;
            }
        }
    }
   

    .servisce-container {
        background: #ffffff;
        height: 100%;
        overflow: hidden;
    }
/////////////////////////////////////////////////////PAGE SERVICES

//////////////////////////////////////////////////////////BG-SERVISECWS
.services-bg {
    @extend %size-block;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/Bg/best-services.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    @extend %base-setting-bg;
    

    p {
        @extend %slide-text-style;
        width: 40%;
        margin: 0 auto;
    }
}

 /////////////////////////////////////////// Advantages servises
.container-services {
    margin: 50px 100px 50px 100px;

    h2 {
        padding: 0px;
        text-align: center;
        
    }
}
.services-description p{
    margin: 0  65px 50px 65px;
    
}
.advantages-mt {
    margin-top: 50px;
}
.servisce-advantages {
    position: relative;

    svg {
        position: absolute;
        left: 20px;
        width: 40px;
        height: 40px;
        fill: $base-color;
    }

     p {
        padding-left: 65px;
        font-weight: bold;
    }
}
h2.text-center {
    text-align: center;
    text-transform: uppercase;
}
//FOR JS efect
.servisce-efect-advantages {
    color: #ffff;
    fill: #ffffff;
    background: $base-color;
}


////////////////////////////////////////////SUPPLIERS

.suppliers-bg {
    @extend %size-block;
    animation: anime 1.3s ease-in-out;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../Images/Bg/suppliers.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    @extend %base-setting-bg;

 }

.border-supplier {
    display: inline-block;
    position: relative;
    border: 10px solid #188cb1;
    border-radius: 5px;
    padding: 10px 50px;
    margin: 50px;

    p {
        padding: 40px 0 0 30px;
    }

    img {
        display: block;
        margin: 0 auto;
        margin-top: 50px;
        padding: 20px;
    }

    span {
        font-size: 1.4em;
        color: #000;
        background-color: #fff;
        position: absolute;
        text-align: center;
        top: -30px;
        right: 27%;
        left: 27%;
        padding: 10px 20px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }
}
.other-supliers {
    margin-bottom: 50px;
}

///////////////////////////////////////////////////CAREERS

.career-bg {
    @extend %size-block;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../Content/Images/Bg/careers.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    @extend %base-setting-bg;
}
.career-descption p {
    text-align: center;
}

.hiring-process {
    width: 100%;
    height: 500px;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(Content\Css\Images\Bg\careers.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;

    h2 {
        color: #ffffff;
        padding-bottom: 50px;
    }
}
%display-block {
    display: block;
    margin: 0 auto;
}
.hiring-icon svg {
    width: 50px;
    height: 50px;
    fill: $base-color;
    @extend %display-block;
}
.hiring-icon {
    position: relative;
    top: 0;
    left: 0;
    @extend %display-block;
    height: 120px;
    padding: 36px;
    margin-bottom: 20px;
    width: 120px;
}
.hiring-icon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    border-radius: 50%;
    @extend %display-block
}


.hiring-text-span {
    @extend %display-block;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}
.container-form-career {
    background: #f2f2f2;
    overflow: hidden;

    h5 {
        text-transform: uppercase;
        text-align: center;
        padding: 40px;
        font-weight: 600;
    }

    button {
        @extend %btn;
        @extend %display-block;
        margin-top: 30px;
        margin-bottom: 30px;
        text-transform: uppercase;
        width: 240px;
        text-align: center;
       }
}

////////////////////////////////////////////////////////CONTACTS
.contacts-bg {
    width: 100%;
    height: 600px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/Bg/contact.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;
    @extend %base-setting-bg;

    h2 {
        @extend %slide-text-style;
    }
}
.contact-datail {
    h2 {
        text-align: left;
        font-size: 1.8em;
    }

    p {
        span {
            font-weight: 700;
        }
    }
}

.form-contact {
    background: #f2f2f2;
    padding: 30px;
    
}

svg.linkedin-contact {
    width: 20px;
    height: 20px;
    fill: $base-color;
    text-align: center;
}
//////////////////////////////////////////////////////////FOOTER
footer {
    background: #222121;
    overflow: hidden;
    width: 100%;

    p {
        color: #fff;
        line-height: 26px;
        padding-right: 50px;
    }

    h6 {
        color: $base-color;
        margin: 50px 0 0 0;
        text-transform: uppercase;
    }
}

    .footer-social {
        background: $base-color;

        p {
            text-transform: uppercase;
            margin: 0;
        }
    }
    /* social icon */
    .icons-social svg,
    .footer-contact svg {
        width: 16px;
        height: 16px;
        fill: #fff;
    }

    .icons-social svg:hover {
        fill: #0e76a8;
    }

    .footer-link {
        ul {
            padding: 0;
        }

        li {
            padding: 5px 0 5px 0;
        }

        a {
            color: #ffffff;
            text-decoration: none;
            text-align: left;
            line-height: 25px;
            padding-bottom: 5px;

            &:hover {
                border-bottom: 1px solid $base-color;
            }
        }
    }

    span.footer-contact {
        color: #ffffff;
        display: block;
        line-height: 35px;
    }

    .text-span {
        margin-left: 10px;
    }

    .hr-heading-footer {
        height: 1px;
        background: #797676;
        width: 50px;
        margin: 12px 0 20px 0;
        padding: 0;
        display: inline-block;
    }
    /////////////////////////////////////////////////////COPYRAIT
    .footer-copyright {
        background: #171717;
        margin-top: 30px;

        p {
            margin: 0;
        }
    }
    /* ******************************************************ANIMATE****************** */
    @keyframes anime-slider {
        from {
            opacity: 0;
            transform: translateY(0);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes anime {
        from {
            opacity: 0;
            transform: translateY(0);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slideUp {
        0% {
            transform: translateY(35%);
        }

        50% {
            transform: translateY(-8%);
        }

        65% {
            transform: translateY(2%);
        }
    }

    @import "media";
