@import "libs";
@import "fonts";


$bg-mask: rgba(0, 0, 0, 0.8);
$base-color: #188cb1;
$fz: 1.2em;
.container {
    margin-bottom: 50px;
}
%slide-text-style {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    animation: slideUp 2s ease-in-out;
}
%base-setting-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: anime 1.3s ease-in-out;

    span {
        color: $base-color;
    }

    h2 {
        font-size: 3.8em;
        @extend %slide-text-style;
    }
}

%btn {
    background: $base-color;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 15px;
    color: #ffffff;
    font-size: 0.75rem;

    &:hover {
        background: #065670;
    }
}

%hr-heading {
    height: 1px;
    text-align: center;
    width: 80px;
    padding: 0;
    display: block;
    margin: 30px auto;
    border-top: 4px solid $base-color;
}
%size-block {
    width: 100%;
    height: 100vh;
}
body {
  font-family: "Roboto", Arial, sans-serif;
  box-sizing: border-box;
}
///////////////////// NAVBAR

.navbar {
    padding: 0;
    z-index: 101;
    background: $bg-mask;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  
    li {
        padding: 0 5px 0 5px;
    }

    a {
        color: #ffffff;
        font-size: 1vw;
        text-transform: uppercase;

        &:hover {
            color: $base-color;
        }
    }

    button {
        margin-right: 40px;
        width: 100px;
        height: 100px;
        outline: none;
    }

    span {
        width: 50px;
        height: 50px;
    }
}
.navbar-nav {
     margin: 0 25px 0 25px;
}

////////////////////////// LOGO
.logo img {
   max-width: 80%;
   margin: 35px 0 15px 35px;
}
h1.logo {
margin: 0;
padding: 0;
}
//////////////////////Slider

.slider-container {
    position: relative;
    background: gray;
    @extend %size-block;
    overflow: hidden;
    z-index: 1;
 }
.slider {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    @extend %size-block;
    @extend %base-setting-bg
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    @extend %size-block;
}
.slide-text {
    z-index: 1;
    @extend %base-setting-bg;
    @extend %size-block;

    h2 {
        font-weight: 400;
        font-size: 4em;
        letter-spacing: 0.25ch;
        @extend %slide-text-style;
    }

    a {
        @extend %slide-text-style;
        @extend %btn;
        text-transform: uppercase;

        &:hover {
            background: #065670;
        }
    }

    p {
        @extend %slide-text-style;
        font-size: 1.1em;
    }
}
.curry {
    display: block;
}
    /////////////////BG SLIDER
#slide-0 {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../../Content/Images/Slider/img-slide-0.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    
}

#slide-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../../Content/Images/Slider/img-slide-1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

#slide-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../../Content/Images/Slider/img-slide-1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
    /////////////////////// MAIN
    .main {
        h3 {
            margin: 50px 0 20px 0;
        }
    }
    .container-fluid {
        overflow: hidden;
        padding: 0;
          
        h3 {
            text-align: center;
            font-weight: 700;
            text-transform: uppercase;

        }
    }

    .hr-heading {
        @extend %hr-heading;
    }
    // Advantages about us
.about-advantages {
    span {
        position: relative;
        top: 100px;
        width: 100px;
        height: 100px;
        background: $base-color;
        display: block;
        border-radius: 50px;
        margin-left: 80px;

        &:hover {
            background: #000;
            transition: 0.5s ease-in-out;
        }
    }

    svg {
        width: 50px;
        height: 50px;
        fill: #ffffff;
        position: absolute;
        left: 25px;
        top: 25px;
    }

    h4 {
        font-size: 1.1em;
        margin: 0 150px 15px 200px;
        font-weight: 600;
        text-transform: uppercase;
    }

    p {
        margin: 0 20px 0 200px;
    }
}
    /************ Banner craftsmen************** */
.banner-craftsman {
    margin-top: 100px;
    width: 100%;
    height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../../Content/Images/Banner/banner-home-page.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    @extend %base-setting-bg;


    span {
        display: block;
        color: $base-color;
    }

    h3 {
        color: #ffffff;
        font-size: 4em;
        font-weight: 600;
        margin-left: 100px;
        text-transform: uppercase;
        text-align: left;
    }
}

///////////////// CLIENTS HOME
.client-description p {
    margin-bottom: 100px;
}

.client-card img {
    width: 100%;
    height: 250px;
}

.client-card {
    margin-bottom: 30px;

    h3 {
        padding: 20px;
        font-size: 1.3em;
        font-weight: 700;
    }

    a {
     
        @extend %btn;
       width: 130px;

        &:hover {
            background: #065670;
        }
    }
}

    /////////////////////////////////////////////////////////////BANNER OFFERING
.services-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../../Content/Images/Banner/offer-banner.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
        color: #ffffff;
        font-size: 2em;
        font-weight: 600;
        text-transform: uppercase;
        padding: 20px;
    }

    a {
        @extend %btn;
        text-transform: uppercase;

        &:hover {
            background: #065670;
        }
    }
}
    .servisce-container {
        background: #ffffff;
        height: 100%;
        overflow: hidden;
    }

    ////////////////////////////CLIENTS

.clients-bg {
    margin: 0 0 100px 0;
    width: 100%;
    height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../../Content/Images/Bg/clients.jpg) no-repeat;
    background-size: cover;
    background-position: center;
   @extend %base-setting-bg;
    margin-bottom: 50px;

}
.estimate {
         text-transform: uppercase;
        font-weight: 600;
   
    span {
        color: #ec1515;
    }
 }
.custom-file {
    margin: 20px 0 20px 0;
}

/////////////////////////////////////////////////////PAGE SERVICES
//////////////////////////////////////////////////////////BG-SERVISECWS
.services-bg {
    @extend %size-block;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../../Content/Images/Bg/best-services.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    margin-bottom: 50px;


    p {
         width: 40%;
        width: 40%;
        margin: 0 auto;
    }
}
    /////////////////////////////////////////// Advantages servises
  main{
      height: 100%;
  }
    .container-services {
        margin: 0 15px 50px 15px;

        h4 {
            padding: 0px;
            text-align: center;
        }

        .row:not(.h2) {
            padding: 20px;
        }

        section + p {
            padding: 0 50px 0 50px;
            font-size: 0.7em;
        }
    }

    .servisce-advantages {
        position: relative;

        svg {
            position: absolute;
            left: 20px;
            width: 40px;
            height: 40px;
            fill: $base-color;
        }

        span {
            display: block;
            padding-top: 10px;
        }

        p {
            padding-left: 65px;
            font-weight: bold;
        }
    }

    h3.text-center {
        text-align: center;
        text-transform: uppercase;
    }
    ////PROJECT
.project-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../../Content/Images/Bg/project.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    margin-bottom: 50px;

}
 ///////////////////////////////////////////////////CAREERS
.career-bg {
    @extend %size-block;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../../Content/Images/Bg/careers.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;

}
   .career-descption p {
        text-align: center;
    }

.hiring-process {
    width: 100%;
    height: 500px;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../../Content/Images/Banner/hiring-banner.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;

    h3 {
        color: #ffffff;
        padding-bottom: 50px;
        margin: 50px 0 20px 0;
    }
}

    %display-block {
        display: block;
        margin: 0 auto;
    }

    .hiring-icon svg {
        width: 50px;
        height: 50px;
        fill: $base-color;
        @extend %display-block;
    }

    .hiring-icon {
        position: relative;
        top: 0;
        left: 0;
        @extend %display-block;
        height: 120px;
        padding: 36px;
        margin-bottom: 20px;
        width: 120px;
    }

    .hiring-icon::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border: 1px solid #ffffff;
        border-radius: 50%;
        @extend %display-block
    }


    .hiring-text-span {
        @extend %display-block;
        color: #ffffff;
        padding: 20px;
        text-align: center;
    }

    .form-touch {
        background: #f2f2f2;
        overflow: hidden;

        h5 {
            text-transform: uppercase;
            text-align: center;
            padding: 40px;
            font-weight: 600;
        }

        button {
            @extend %btn;
            @extend %display-block;
            margin-top: 30px;
            margin-bottom: 30px;
            text-transform: uppercase;
            width: 240px;
            text-align: center;

            &:hover {
                background: #065670;
                color: #fff;
            }
        }
    }
    ////////////////////////////////////////////////////////CONTACTS
.contacts-bg {
    width: 100%;
    height: 600px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../Content/Images/Bg/contact.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
}
   .detail {
        margin: 40px 0 50px 0;

        h3 {
            font-size: 1.2em;
            text-transform: uppercase;
            font-weight: 600;
            text-align: center;
        }

        span {
            font-weight: 500;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .contact svg {
        fill: #ff8c00;
        width: 20px;
        height: 20px;
    }

    span.contact {
        display: block;
        line-height: 50px;
    }

    svg.linkedin-contact {
        width: 16px;
        height: 16px;
        fill: $base-color;
        margin-left: 7px;
    }

    span.linkedin {
        display: block;
        border: 1px solid #d3d3d3;
        border-radius: 50px;
        width: 30px;
        height: 30px;
        margin: 10px 0 10px 0;

        &:hover {
            background: #000;
        }
    }

    .form-touch {
        padding: 30px;

        button {
            @extend %btn;

            &:hover {
                background: #065670;
            }
        }
    }
////////////////////////////////////////GALLERY
.bg {
    width: 100%;
    height: 100%;
    background: #111010;
    
}
.gallery {
    margin-top: 220px;

    h3 {
        @extend %slide-text-style;
        
    }

    .hr-heading {
        margin-bottom: 50px;
    }
}


//////////////////////////////////////////////////////////FOOTER
footer {
    background: #222121;
    overflow: hidden;
    width: 100%;

    p {
        color: #fff;
        line-height: 26px;
        padding-right: 50px;
    }

    h6 {
        color: $base-color;
        margin: 50px 0 0 0;
        text-transform: uppercase;
    }
}

    .footer-social {
        background: $base-color;

        p {
            text-transform: uppercase;
            margin: 0;
        }
    }
    /* social icon */
    .icons-social svg,
    .footer-contact svg {
        width: 16px;
        height: 16px;
        fill: #fff;
    }

.icons-social svg:hover {
    width: 20px;
    height: 20px;
}

.footer-link {
    ul {
        padding: 0;
        list-style: none;
    }

    li {
        padding: 5px 0 5px 0;
    }

    a {
        color: #ffffff;
        text-decoration: none;
        text-align: left;
        line-height: 25px;
        padding-bottom: 5px;

        &:hover {
            border-bottom: 1px solid $base-color;
        }
    }
}

    span.footer-contact {
        color: #ffffff;
        display: block;
        line-height: 35px;
    }

    .text-span {
        margin-left: 10px;
    }

    .hr-heading-footer {
        height: 1px;
        background: #797676;
        width: 50px;
        margin: 12px 0 20px 0;
        padding: 0;
        display: inline-block;
    }
    /////////////////////////////////////////////////////COPYRAIT
    .footer-copyright {
        background: #171717;
        margin-top: 30px;

        p {
            margin: 0;
        }
    }
.require::before {
    position: absolute;
    left: -10px;
    top: 0;
    }

    /* ******************************************************ANIMATE****************** */
    @keyframes anime-slider {
        from {
            opacity: 0;
            transform: translateY(0);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes anime {
        from {
            opacity: 0;
            transform: translateY(0);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slideUp {
        0% {
            transform: translateY(35%);
        }

        50% {
            transform: translateY(-8%);
        }

        65% {
            transform: translateY(2%);
        }
    }
    //////ADMIN PAGE
.admin-page {
    h2{
        color: #000;
        margin-top: 300px;
    }
}
.admin svg {
    fill: #ffffff;
    width: 16px;
    height: 16px;
}
.admin-text {
    text-transform: uppercase;
}
.admin-nav {
    background: none;
    z-index: 102;
    
    ul{
        width: 100%;
        padding: 0;
        margin: 5px 25px 5px 25px;
    }
}
.nav-admin {
    display: flex;
    justify-content: flex-end;
    background: none;
    padding-top: 5px;

    a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: .7em;
    }

    li {
        list-style: none;
      }
}

a.bord:after {
    content: "|";
    color: #fff;
    padding-left: 5px;
}
.login-bg {
    width: 100%;
    height: 750px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../Content/Images/Bg/bg-login.jpg) no-repeat;
    background-size: cover;
    background-position: center;

    @extend %base-setting-bg;

    .login-form {
        background: rgba(0,0,0, 0.4);
        margin: 50% auto;
        width: 350px;
        height: 200px;
        padding: 20px;


        h5 {
            text-transform: uppercase;
            text-align: center;
            color: #fff;
        }
    }

    input.login-input {
        border: none;
        height: 40px;
        width: 300px;
        margin-bottom: 5px;
    }

    button.btn-login {
        display: block;
        margin: 10px auto;
        width: 100px;
        height: 30px;
        border: none;
        border-radius: 5px;
        background: $base-color;
        color: #fff;
    }
}
input[type="text"] {
    padding: 10px;
}
input[type="password"] {
    padding: 10px;
}
//////////////////////MANAGE ACCOUNT
.manage {
   h5{
       font-size: 1.1em;
   }
   p{
       color: #fff;
   }
   a{
       text-decoration: none;
       color: $base-color;
       &:hover{
           border-bottom: 1px solid $base-color;
       }
   }
}

/////TEXT MESSAGE FORM VALIDATION


//////////////////////FOR FORM ERROR
label.require:after {
    content: " *";
    color: red;
}

.error {
    color: red;
    font-size: 0.7em;
}

.errorMessage { 
    color: #ff0000;
}
.form-control {
    font-size: 1em;
}
////error projecet
.errorProject {
    margin: 0 auto;
    display: none;
    svg {
        display: block;
        margin: 0 auto;
        fill: #ff0000;
        width: 100px;
    }
    p {
        text-align: center;
        font-size: 1.3em;
        font-weight: 700;
    }
}
////MODAL SUBMIT
.modal-content {
    margin: 25% auto;
}
.modal-header {
    border-bottom: none;
}
.modal-footer {
    border-top: none;
}
.modal-body {
    padding: 0;
    svg {
        fill: #22bb33;
        margin-bottom: 25px;
    }

    p {
        font-size: 1.5em;
        line-height: 1;
    }
}
p.thanks {
    font-weight: bold;
    font-size: 1.8em;
}
/////////////TABLE
table {
    svg {
        width: 30px;
        height: 30px;
        margin: 0 10px 0 10px;
        &:hover{

        }
    }

    a {
        text-decoration: none;


        &:hover {
            text-decoration: none;
        }
    }
    img {
        width: 150px;
        height: 100px;
    }
}
.edit {fill: #ff8c00;}
.plus {fill: #4CAF50;}
.delete {fill: #f44336;}

@keyframes check {
    0% {
        height: 0;
        width: 0;
    }

    25% {
        height: 0;
        width: 10px;
    }

    50% {
        height: 20px;
        width: 10px;
    }
}

.checkbox {
    background-color: #fff;
    display: inline-block;
    height: 28px;
    margin: 0 .25em;
    width: 28px;
    border-radius: 4px;
    border: 1px solid #ccc;
 }

.checkbox span {
    display: block;
    height: 28px;
    position: relative;
    width: 28px;
    padding: 0
}

.checkbox span:after {
    -moz-transform: scaleX(-1) rotate(135deg);
    -ms-transform: scaleX(-1) rotate(135deg);
    -webkit-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg);
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-right: 4px solid #fff;
    border-top: 4px solid #fff;
    content: '';
    display: block;
    height: 20px;
    left: 3px;
    position: absolute;
    top: 15px;
    width: 10px
}

.checkbox span:hover:after {
    border-color: #999
}
.checkbox input {
    display: none
}
.checkbox input:checked + span:after {
    -webkit-animation: check .8s;
    -moz-animation: check .8s;
    -o-animation: check .8s;
    animation: check .8s;
    border-color: #555
}

.checkbox input:checked + .default:after {
    border-color: #444
}

.checkbox input:checked + .primary:after {
    border-color: #2196F3
}

.checkbox input:checked + .success:after {
    border-color: #8bc34a
}

.checkbox input:checked + .info:after {
    border-color: #3de0f5
}

.checkbox input:checked + .warning:after {
    border-color: #FFC107
}

.checkbox input:checked + .danger:after {
    border-color: #f44336
}


@import "media";
     