

/*jssor slider arrow skin 073 css*/
.jssora073 {
    display: block;
    position: absolute;
    cursor: pointer;
}

    .jssora073 .a {
        fill: #ddd;
        fill-opacity: 0.7;
        stroke: #000;
        stroke-width: 60;
        stroke-miterlimit: 10;
        stroke-opacity: 0.7;
    }

    .jssora073:hover {
        opacity: 0.8;
    }

    .jssora073.jssora073dn {
        opacity: 0.4;
    }

    .jssora073.jssora073ds {
        opacity: 0.3;
        pointer-events: none;
    }

#jssor_1 {
    position: relative;
    margin: 0 auto;
    top: 0px;
    left: 0px;
    width: 600px;
    height: 500px;
    overflow: hidden;
    visibility: hidden;
}

div[data-u="slides"] {
    cursor: default;
    position: relative;
    top: 0px;
    left: 0px;
    width: 600px;
    height: 500px;
    overflow: hidden;
}
div[data-u="arrowleft"] {
    width: 40px;
    height: 50px;
    top: 0px;
    left: 30px;
}
svg.arrowleft {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div[ data-u="arrowright"] {
    width: 40px;
    height: 50px;
    top: 0px;
    right: 30px;
}


svg.arrowright {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
