* {
    box-sizing: border-box;
}

.button {
    position: relative;
    display: inline-block;
    border: none;
    padding-right: 6px;
    height: 2.7rem;
    background: rgba(0,0,0,0);
    cursor: pointer;
    font-size: 1rem;
    color: #188cb1;
    text-transform: uppercase;
    transition: background 150ms;
    outline: none;
    font-weight: 700;
}

.button-group {
    padding: 1rem;
    text-align: center;
    margin-bottom: 50px;
}

.button:hover {
    color: #18667f;
}

button:focus {
    outline: none;
}

.button.is-checked {
    color: #18667f;
    border-bottom: 3px solid #18667f;
}
/* clear fix */
.grid:after {
    content: "";
    display: block;
    clear: both;
}
/* ---- .element-item ---- */
.element-item {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 20%;
    color: #262524;
    padding: 10px;
}

@media screen and (min-width: 320px) {
    .element-item {
        width: 50%;
        height: 220px;
    }
}

@media screen and (min-width: 520px) {
    .element-item {
        height: 300px;
    }
}
/* 4 Columns */
@media screen and (min-width: 961px) {
    .element-item {
        width: 25%;
        height: 230px;
    }
}
/* 5 Columns */
@media screen and (min-width: 1401px) {
    .element-item {
        width: 20%;
        height: 335px;
    }
}
