.svg-analysis-dims {
	width: 512px;
	height: 512px;
}

.svg-construction-worker-dims {
	width: 489.6px;
	height: 489.6px;
}

.svg-delete-dims {
	width: 512px;
	height: 512px;
}

.svg-edit-dims {
	width: 383.95px;
	height: 383.95px;
}

.svg-email-dims {
	width: 26px;
	height: 26px;
}

.svg-firewall-dims {
	width: 512px;
	height: 512px;
}

.svg-goal-dims {
	width: 512px;
	height: 512px;
}

.svg-growth-dims {
	width: 418px;
	height: 418px;
}

.svg-hiring-dims {
	width: 496px;
	height: 496px;
}

.svg-icon-dims {
	width: 17.53px;
	height: 17.53px;
}

.svg-interview-dims {
	width: 512px;
	height: 512px;
}

.svg-left-arrow-dims {
	width: 492px;
	height: 492px;
}

.svg-linkedin-dims {
	width: 310px;
	height: 310px;
}

.svg-minus-dims {
	width: 512px;
	height: 512px;
}

.svg-money-bag-dims {
	width: 512.01px;
	height: 512.01px;
}

.svg-placeholder-dims {
	width: 26px;
	height: 26px;
}

.svg-plus-dims {
	width: 448px;
	height: 448px;
}

.svg-quality-dims {
	width: 470px;
	height: 470px;
}

.svg-respect-dims {
	width: 512px;
	height: 512px;
}

.svg-resume-dims {
	width: 512px;
	height: 512px;
}

.svg-review-dims {
	width: 512px;
	height: 512px;
}

.svg-right-arrow-dims {
	width: 492px;
	height: 492px;
}

.svg-success-dims {
	width: 52px;
	height: 52px;
}

.svg-teamwork-dims {
	width: 512px;
	height: 512px;
}

.svg-telephone-dims {
	width: 512px;
	height: 512px;
}

.svg-value-dims {
	width: 480.06px;
	height: 480.06px;
}

.svg-verified-dims {
	width: 512px;
	height: 512px;
}

.svg-warning-dims {
	width: 486.46px;
	height: 486.46px;
}

