
@{
  ViewBag.Title = "Careers";
}

  <section class="container-fluid">
    <!----------------------------BG CAREER------------------------------>
    <section class="row">
      <section class="col-lg-12 career-bg">
        <h2>Your career starts <span> here!</span></h2>
      </section> <!--career-bg-text-->
    </section> <!-- career-bg -->
    <!----------------------------------CAREER MAIN----------------------------------------->
    <section class="container">
      <section class="row">
        <section class="col-lg-12 career-descption ">
          <h2>Join our team</h2>
          <section class="hr-heading "></section>
          <p>
            We seek out people who are smart, creative, up for any challenge and like about what they do.
            We offer our candidates competitive wages.  The monthly salary is calculated depending on experience.
            Who want to join  our team.
          </p>
        </section> <!--col-lg-12 career-descption-->
      </section>  <!--row-->
    </section>
    <section class="container-hiring-process">
      <section class="row">
        <section class="col-lg-12">
          <h2> Hiring process</h2>
        </section>
        <!--RESUME-->
        <section class="col-lg-3">
          <span class="footer-contact">
            <svg>
              <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#resume"></use>
            </svg>
            <span class="text-span">Resume submission</span>
          </span>
        </section>
        <!--Review OF HR MANAGER-->
        <section class="col-lg-3">
          <span class="footer-contact">
            <svg>
              <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#review"></use>
            </svg>
            <span class="text-span">Review of HR Managers</span>
          </span>
        </section>
        <!--INTERVIEW-->
        <section class="col-lg-3">
          <span class="footer-contact">
            <svg>
              <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#interview"></use>
            </svg>
            <span class="text-span">Interview</span>
          </span>
        </section>
        <!--HIRING-->
        <section class="col-lg-3">
          <span class="footer-contact">
            <svg>
              <use xlink:href="../../Gulp/app/svg/spites/symbol/sprite.svg#resume"></use>
            </svg>
            <span class="text-span">Resume submission</span>
          </span>
        </section>
      </section>
    </section>
  </section>