
@{
  ViewBag.Title = "Projects";
}

  <section class="container-fluid">
    <section class="row">
      <section class="col-lg-12 project-bg">
        <h2><span>Look</span> at your best projects</h2>
      </section> <!--project-bg-text-->
    </section> <!--project-bg-->


    <section class="project-filter ">
      <section class="row">
        <section class="col-lg-12 project-filter-links">
          <a href="#" data-filter="">All projects</a>
          <a href="#" data-filter=".StChair">St. Chair</a>
          <a href="#" data-filter=".Darcel">Darcel</a>
          <a href="#" data-filter=".Roehampton">Roe hampton</a>
          <a href="#" data-filter=".Cambridge">Cambridge</a>
          <a href="#" data-filter=".StCatherine">St. Catherine</a>
          <a href="#" data-filter=".Fowler">Fowler</a>
          <a href="#" data-filter=".Kennedy">Kennedy</a>
          <a href="#" data-filter=".Walmer">Walmer</a>
        </section>
      </section>
    </section>
    <section class="project-container">
      <section class="Roehampton project-container-img">
        <img src="../../Gulp/app/Images/Roehampton_6.jpg" alt="image" />
      </section>

      <section class="StChair project-container-img">
        <img src="../../Gulp/app/Images/StClair_0.jpg" alt="image" />
      </section>

      <section class="Kennedy project-container-img">
        <img src="../../Gulp/app/Images/kannedy_2.jpg" alt="image" />
      </section>

      <section class="Walmer project-container-img">
        <img src="../../Gulp/app/Images/walmer_4.jpg" alt="image" />
      </section>
      <section class="StChair objects project-container-img">
        <img src="../../Gulp/app/Images/StClair_1.jpg" alt="image" />
      </section>

      <section class="Fowler project-container-img">
        <img src="../../Gulp/app/Images/fowler_1.jpg" alt="image" />
      </section>

      <section class=" Kennedy project-container-img">
        <img src="../../Gulp/app/Images/kannedy_3.jpg" alt="image" />
      </section>

      <section class=" Darcel project-container-img">
        <img src="../../Gulp/app/Images/Darcle_0.jpg" alt="image" />
      </section>


      <section class="Walmer project-container-img">
        <img src="../../Gulp/app/Images/walmer_3.jpg" alt="image" />
      </section>
      <section class="Fowler project-container-img">
        <img src="../../Gulp/app/Images/fowler_2.jpg" alt="image" />
      </section>
      <section class="StChair project-container-img">
        <img src="../../Gulp/app/Images/StClair_2.jpg" alt="image" />
      </section>
      <section class=" Kennedy project-container-img">
        <img src="../../Gulp/app/Images/kannedy_1.jpg" alt="image" />
      </section>

      <section class=" Fowler project-container-img">
        <img src="../../Gulp/app/Images/fowler_3.jpg" alt="image" />
      </section>
      <section class=" Roehampton project-container-img">
        <img src="../../Gulp/app/Images/Roehampton_0.jpg" alt="image" />
      </section>
      <section class="Cambridge project-container-img">
        <img src="../../Gulp/app/Images/Cambridge_0.jpg" alt="image" />
      </section>
      <section class=" Darcel project-container-img">
        <img src="../../Gulp/app/Images/Darcle_1.jpg" alt="image" />
      </section>

      <section class="Fowler project-container-img">
        <img src="../../Gulp/app/Images/fowler_4.jpg" alt="image" />
      </section>
      <section class="Walmer project-container-img">
        <img src="../../Gulp/app/Images/walmer_2.jpg" alt="image" />
      </section>
      <section class="Roehampton project-container-img">
        <img src="../../Gulp/app/Images/Roehampton_1.jpg" alt="image" />
      </section>
      <section class="Roehampton project-container-img">
        <img src="../../Gulp/app/Images/Roehampton_2.jpg" alt="image" />
      </section>

      <section class="StCatherine project-container-img">
        <img src="../../Gulp/app/Images/StCatherine_0.jpg" alt="image" />
      </section>
      <section class="Darcel project-container-img">
        <img src="../../Gulp/app/Images/Darcle_2.jpg" alt="image" />
      </section>
      <section class="Roehampton project-container-img">
        <img src="../../Gulp/app/Images/Roehampton_3.jpg" alt="image" />
      </section>
      <section class=" Fowler project-container-img">
        <img src="../../Gulp/app/Images/fowler_5.jpg" alt="image" />
      </section>

      <section class=" Walmer project-container-img">
        <img src="../../Gulp/app/Images/walmer_1.jpg" alt="image" />
      </section>
      <section class=" Fowler project-container-img">
        <img src="../../Gulp/app/Images/fowler_0.jpg" alt="image" />
      </section>
      <section class=" Darcel project-container-img">
        <img src="../../Gulp/app/Images/Darcle_3.jpg" alt="image" />
      </section>
      <section class=" Roehampton project-container-img">
        <img src="../../Gulp/app/Images/Roehampton_4.jpg" alt="image" />
      </section>

      <section class=" Cambridge project-container-img">
        <img src="../../Gulp/app/Images/Cambridge_1.jpg" alt="image" />
      </section>
      <section class="Kennedy project-container-img">
        <img src="../../Gulp/app/Images/kannedy_0.jpg" alt="image" />
      </section>
      <section class=" Roehampton project-container-img">
        <img src="../../Gulp/app/Images/Roehampton_5.jpg" alt="image" />
      </section>
      <section class=" Walmer project-container-img">
        <img src="../../Gulp/app/Images/walmer_0.jpg" alt="image" />
      </section>
    </section>
  </section>