

  <section class="container-fluid">
    <section class="row">
      <section class="col-lg-12 services-bg">
        <h2>Offering <span>best</span> services</h2>
        <p>Our building restoration services include work on commercial and historical building restorations.</p>
      </section> <!--services-bg-text-->
    </section> <!--services-bg -->
    <!--OUR SERVICES -->
    <section class="container-services-advantages">
      <section class="row">
        <section class="col-lg-12 services-heading ">
          <h2>Our services</h2>
          <section class="hr-heading "></section>
        </section>  <!--row-->
      </section> <!--col-lg-12 services-heading -->
      <section class="row">
        <section class="col-lg-12 services-description">
          <p>
            Our company offers a wide range of services for the restoration of commercial and historical buildings.
            Extensive experience in this area allows us to enables the needs of our customers by providing high quality based on your budget.
          </p>
        </section> <!--col-lg-12 services-description -->
      </section> <!--row-->
      <!-- CRAFTSMANS -->
      <section class="row">
        <section class="col-lg-4 services-advantages">
          <span class="services-advantages-icon">
            <svg>
              <use xlink:href="#craftsmans"></use>
            </svg>
          </span>
          <p>
            Our craftsmans have a broad range of experience with all
            types of materials and buildings.
          </p>
        </section> <!--col-lg-12 services-description CRAFTSMANS-->
        <!-- BUDGET-->
        <section class="col-lg-4 services-advantages">
          <span class="services-advantages-icon">
            <svg>
              <use xlink:href="#budget"></use>
            </svg>
          </span>
          <p>
            It is vital for any customers not to exceed the budget and that
            is why we pay utmost attention to cost containment.
          </p>
        </section> <!--col-lg-12 services-description PLANNING-->
        <!-- QUALITY MATERIALS-->
        <section class="col-lg-4 services-advantages">
          <span class="services-advantages-icon">
            <svg>
              <use xlink:href="#quality-materials"></use>
            </svg>
          </span>
          <p>
            Use of high quality materials from proven manufacturers.
          </p>
        </section> <!--col-lg-12 services-description QUALITY MATERIALS-->
      </section> <!--row -->

      <section class="row">
        <!--PLANNING-->
        <section class="col-lg-4 services-advantages">
          <span class="services-advantages-icon">
            <svg>
              <use xlink:href="#planning"></use>
            </svg>
          </span>
          <p>
            We take our time on initial planning before any restoration begins,
            to balance all the financial and efficiency issues beforehand.
          </p>
        </section> <!--col-lg-12 services-description PLANNING-->
        <!--QUALITY ASSURANCE-->
        <section class="col-lg-4 services-advantages">
          <span class="services-advantages-icon">
            <svg>
              <use xlink:href="#quality-assurance"></use>
            </svg>
          </span>
          <p>
            Every project we work on is checked for quality assurance
            to satisfy the needs of the modern society.
          </p>
        </section> <!--col-lg-12 services-description QUALITY ASSURANCE-->
        <!--RESPECT-->
        <section class="col-lg-4 services-advantages">
          <span class="services-advantages-icon">
            <svg>
              <use xlink:href="#respect"></use>
            </svg>
          </span>
          <p>
            Maintaining safety, keeping a low level of noise and collaborating with
            facility's staff requires an extremely well planned management.
            These are the keys to successfully completing the work and minimal
            inconvenience to the, residents and staff members.
          </p>
        </section> <!--col-lg-12 services-description RESPECT-->
      </section><!--row-->

      <section class="row">
        <!--TEAM-->
        <section class="col-lg-4 services-advantages">
          <span class="services-advantages-icon">
            <svg>
              <use xlink:href="#team"></use>
            </svg>
          </span>
          <p>
            We work closely with architects and engineers to
            ensure the best results from our work.
          </p>
        </section> <!--col-lg-12 services-description TEAM-->
        <!--DEVELOP-->
        <section class="col-lg-4 services-advantages">
          <span class="services-advantages-icon">
            <svg>
              <use xlink:href="#develop"></use>
            </svg>
          </span>
          <p>
            Our restoration specialists work on projects
            of various sizes and technical complexity.
          </p>
        </section> <!--col-lg-12 services-description DEVELOP-->
      </section><!--row-->
    </section>

    <!-- SERVICES LIST-->
    <section class="list-services-offers">
      <section class="row">
        <!-- Building envelop restoration-->
        <section class="col-sm-4 services-offers">
          <figure class="effect-dexter">
            <img src="Images/restoration-enclosing.jpg"
                 alt="restoration-enclosing" />
            <figcaption>
              <h2>Building envelop restoration</h2>
              <p>
                Including balcony slab repairs...
              </p>
            </figcaption>
          </figure>
        </section>

        <!-- Masonry repairs-->
        <section class="col-sm-4 services-offers">
          <figure class="effect-dexter">
            <img src="Images/restoration-enclosing.jpg"
                 alt="restoration-enclosing" />
            <figcaption>
              <h2>Masonry repairs</h2>
              <p>
                Brick replacement, block, glass block, stone, tuck
                pointing...
              </p>
            </figcaption>
          </figure>
        </section>

        <!-- Concrete repairs-->
        <section class="col-sm-4 services-offers">
          <figure class="effect-dexter">
            <img src="Images/restoration-enclosing.jpg"
                 alt="restoration-enclosing" />
            <figcaption>
              <h2>Concrete repairs</h2>
              <p>
                Precast panel, underground garage slab,
                ramps, columns, canopies, patching...
              </p>
            </figcaption>
          </figure>
        </section>
      </section>
      <section class="row">
        <!-- Caulking, glazing, sealants-->
        <section class="col-sm-4 services-offers">
          <figure class="effect-dexter">
            <img src="Images/restoration-enclosing.jpg"
                 alt="restoration-enclosing" />
            <figcaption>
              <h2>Caulking, glazing, sealants</h2>
            </figcaption>
          </figure>
        </section>
        <!-- Waterproofing -->
        <section class="col-sm-4 services-offers">
          <figure class="effect-dexter">
            <img src="Images/restoration-enclosing.jpg"
                 alt="restoration-enclosing" />
            <figcaption>
              <h2>Waterproofing </h2>
              <p>cold applied, penetrating sealers, hot robber application</p>
            </figcaption>
          </figure>
        </section>

        <!-- Wall coating-->
        <section class="col-sm-4 services-offers">
          <figure class="effect-dexter">
            <img src="Images/restoration-enclosing.jpg"
                 alt="restoration-enclosing" />
            <figcaption>
              <h2>Wall coating </h2>
            </figcaption>
          </figure>
        </section>
      </section>

      <!-- Flashing installation and replacement-->
      <section class="row">
        <section class="col-sm-4 services-offers">
          <figure class="effect-dexter">
            <img src="Images/restoration-enclosing.jpg"
                 alt="restoration-enclosing" />
            <figcaption>
              <h2>Wall coating </h2>
            </figcaption>
          </figure>
        </section>
        <!-- Insulation installation-->
        <section class="col-sm-4 services-offers">
          <figure class="effect-dexter">
            <img src="Images/restoration-enclosing.jpg"
                 alt="restoration-enclosing" />
            <figcaption>
              <h2>Insulation installation</h2>
            </figcaption>
          </figure>
        </section>

      </section>


    </section><!-- list-services-offers-->
  </section><!-- container-fluid-->
