@{
  ViewBag.Title = "Projects";
}
<!--ADD MODAL-->
<section class="container">
  <section class="modal fade" id="addProjectModal" role="dialog">
    <section class="modal-dialog modal-lg">
      <form class="modal-content pl-5 pr-5 form-update-project">
        <section class="modal-header modal-header-form">
          <h4>Enter your details</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </section><!--modal header-->
        <!--Error msg-->
        <section>
          <p class="thrownerror m-0"></p>
          <p class="errorMessage m-0"></p>
        </section>
        <section class="modal-body text-center ">
          <div class="form-group">
            <input type="hidden" class="form-control madalInput" value="0" name="Order">
            <input type="hidden" class="form-control madalInput" value="0" name="Id">
          </div>
          <div class="form-group">
            <input class="form-control madalInput " type="text" placeholder="Project name" autocomplete="off" name="Name">
            <p class="text-left update-validation nameRequired"></p>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input projfile projectFile " placeholder="Choose image" accept="image/*" name="Image">
            <label class="custom-file-label" for="customFile">Choose image</label>
            <p class="text-left update-validation imgRequired"></p>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input projectFile" placeholder="Choose image" accept="image/*" name="Image">
            <label class="custom-file-label" for="customFile">Choose image</label>
            <p class="text-left update-validation imgRequired"></p>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input projectFile" placeholder="Choose image" accept="image/*" name="Image">
            <label class="custom-file-label" for="customFile">Choose image</label>
            <p class="text-left update-validation imgRequired"></p>
          </div>
        </section><!--modal body-->
        <section class="modal-footer justify-content-center">
          <button type="button" class="btn btn-info w-25 btn-lg updateProject">Update</button>
        </section><!--modal-footer-->
        @Html.AntiForgeryToken()
      </form><!--modal-content-->
      <!--Modal succses-->
      <section class="modal-content succsses-content d-none">
        <section class="modal-header succsses-header">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </section><!--modal header-->
        <section class="modal-body text-center succsses-body">
          <svg class="success">
            <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#success"></use>
          </svg>
          <p class="thanks">Thank you!</p>
          <p>Successfully services updating</p>
        </section><!--modal body-->
      </section><!--modal-content-->
    </section><!--modal-dilog-->
  </section><!--modal fade-->
</section><!--modal container-->
<!--Delete Modal HTML-->
<section id="deleteProjectModal" class="modal">
  <section class="modal-dialog">
    <section class="modal-content delete-content-modal">
      <form class="delete-form">
        <section class="modal-header">
          <h4 class="modal-title">Delete Project</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </section>
        <p class="errorMessage"></p>
        <section class="modal-body modal-sure">
          <h4 class="text-center">Are you sure you want to delete these Records?</h4>
          <p class="text-center">Do you really want to delete these records? This process cannot be undone.</p>
        </section>
        <section class="modal-footer delete-modal-footer ">
          <button type="button" class="btn  delete-project-modal">Delete</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </section>
        @Html.AntiForgeryToken()
      </form>
    </section>
    <section class="modal-content succsses-content d-none w-100">
      <section class="modal-header succsses-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </section><!--modal header-->
      <section class="modal-body succsses-body text-center">
        <svg class="success">
          <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#success"></use>
        </svg>
        <p class="thanks">Thank you!</p>
        <p>Successfully service deleting</p>
      </section><!--modal body-->
    </section><!--modal-content-->
  </section>
</section>

<section class=" container-fluid tab-pane active   pl-5 pr-5 " id="tableProjects">
  <section class="nameTable jus">
    <h2>Project details</h2>
  </section>
  <section class="d-flex justify-content-between">
    <button type="button" class="btn  add-new-project" data-toggle="modal" data-target="#addProjectModal">
      <span data-toggle="tooltip" title="add">
        <svg class="plus">
          <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#plus"></use>
        </svg>
      </span>
      <span>Add new</span>
    </button>
    <input class="form-control" id="searchProject" type="text" placeholder="Search..">
  </section>
  <table data-toggle="table">
    <thead class="thead-dark">
      <tr>
        <th class="d-none">Order</th>
        <th class="d-none">Id</th>
        <th>Select</th>
        <th>Projects name</th>
        <th>Images</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="tableProjectsBody">
    </tbody>
  </table>
</section>

<template id="tableProjectsTemplate">
  <tr>
    <td class="order d-none"></td>
    <td class="id d-none"></td>
    <td class="text-center">
      <label class="checkbox"><input type="checkbox" /><span class="primary"></span></label>
    </td>
    <td><p class="name-services"></p></td>
    <td class=" td-img">
      <img src="" alt="" class="img-proj" />
    </td>
    <td class="text-center">
      <button type="button" class="btn delete-project" data-toggle="modal">
        <span data-toggle="tooltip" title="delete">
          <svg class="delete">
            <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#delete"></use>
          </svg>
        </span>
        Delete
      </button>
      <button type="button" class="btn edit-btn editBtn" data-toggle="modal" data-target="#">
        <span data-toggle="tooltip" title="edit">
          <svg class="edit">
            <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#edit"></use>
          </svg>
        </span>
        Edit
      </button>
    </td>
  </tr>
</template>

