
@{
  ViewBag.Title = "_ProjectPartial";
}


  <table id="table"
         data-toggle="table"
         data-height="460"
         data-ajax="ajaxRequest"
         data-search="true">
    <thead>
      <tr>
        <th data-field="id">ID</th>
        <th data-field="name">Item Name</th>
   
      </tr>
    </thead>
  </table>