
@{
  ViewBag.Title = "Services";
}


<!--Delete Modal HTML-->
<section id="deleteServicesModal" class="modal">
  <section class="modal-dialog">
    <section class="modal-content delete-content-modal">
      <form class="delete-form">
        <section class="modal-header">
          <h4 class="modal-title">Delete Services</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </section>
        <p class="errorMessage"></p>
        <section class="modal-body modal-sure">
          <h4 class="text-center">Are you sure you want to delete these Records?</h4>
          <p class="text-center">Do you really want to delete these records? This process cannot be undone.</p>
        </section>
        <section class="modal-footer delete-modal-footer ">
          <button type="button" class="btn  delete-service-modal">Delete</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </section>
        @Html.AntiForgeryToken()
      </form>
    </section>
    <section class="modal-content succsses-content d-none w-100">
      <section class="modal-header succsses-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </section><!--modal header-->
      <section class="modal-body succsses-body text-center">
        <svg class="success">
          <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#success"></use>
        </svg>
        <p class="thanks">Thank you!</p>
        <p>Successfully service deleting</p>
      </section><!--modal body-->
     </section><!--modal-content-->
  </section>
</section>

<section class="container-fluid  tab-pane fade pl-5 pr-5"  id="tableServices">
  @*<section class="nameTable jus">
    <h2>Services details</h2>
  </section>
  <section class="d-flex justify-content-between">
    <button type="button" class="btn add-new " data-toggle="modal" data-target="#addModal">
      <span data-toggle="tooltip" title="add">
        <svg class="plus">
          <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#plus"></use>
        </svg>
      </span>
      <span>Add new</span>
    </button>
        <input class="form-control" id="searchService" type="text" placeholder="Search..">
    </section>*@

    <table data-toggle="table">
      <thead class="thead-dark">
        <tr>
          <th class="d-none">Order</th>
          <th class="d-none">Id</th>
          <th>Select</th>
          <th>Services name</th>
          <th>Description</th>
          <th>Images</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="tableServicesBody">
      </tbody>
    </table>
</section>

<template id="tableServicesTemplate">
  <tr>
    <td class="order d-none"></td>
    <td class="id d-none"></td>
    <td class="text-center">
      <label class="checkbox"><input type="checkbox" /><span class="primary"></span></label>
    </td>
    <td><h2>#</h2></td>
    <td><p class="name-services"></p></td>
    <td class="text-center"><img src="" alt="" class="img-edit" /></td>
    <td class="text-center">
      <button type="button" class="btn delete-services"  >
        <span data-toggle="tooltip" title="delete">
          <svg class="delete">
            <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#delete"></use>
          </svg>
        </span>
        Delete
      </button>
      <button type="button" class="btn edit-btn editBtn" data-toggle="modal" data-target="#addModal">
        <span data-toggle="tooltip" title="edit">
          <svg class="edit">
            <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#edit"></use>
          </svg>
        </span>
        Edit
      </button>
    </td>
  </tr>
</template>

