
@{
  ViewBag.Title = "Services";
}
<!--ADD MODAL-->
<section class="container tableService">
  <section class="modal fade" id="serviceModal" role="dialog">
    <section class="modal-dialog modal-lg">
      <form class="modal-content pl-5 pr-5 form-service">
        <section class="modal-header pl-0 pr-0">
          <h4 class="headerOfModal">Add your detail</h4>
          <button type="button" class="close closed" data-dismiss="modal">
            &times;
          </button>
        </section><!--modal header-->
        <p class="errorMessage"></p>
        <section class="modal-body text-center ">
          <div class="form-group">
            <input class="form-control madalInput " type="text" placeholder="Services name" autocomplete="off" name="nameServices">
          </div>
          <div class="form-group">
            <textarea class="form-control textarea " rows="5" placeholder="Description" name="Description"></textarea>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input " id="customFile" placeholder="Choose image" accept="image/*" name="ImgServices">
            <label class="custom-file-label" for="customFile">Choose image</label>
          </div>
        </section><!--modal body-->
        <section class="modal-footer justify-content-center">
          <button type="button" class="btn btn-info w-25 btn-lg" id="add">Add</button>
          <button type="button" class="btn btn-info  w-25 btn-lg" id="update">Update</button>
        </section><!--modal-footer-->
        @Html.AntiForgeryToken()
      </form><!--modal-content-->
      <section class="modal-content addServiceSuccsses d-none">
        <section class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </section><!--modal header-->
        <section class="modal-body text-center">
          <svg class="success">
            <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#success"></use>
          </svg>
          <p class="thanks">Thank you!</p>
          <p>Service successfully added to your table </p>
        </section><!--modal body-->
        <section class="modal-footer">
          <button type="button" class="btn btn-default closed" data-dismiss="modal">Close</button>

        </section><!--modal-footer-->
      </section><!--modal-content-->
    </section><!--modal-dilog-->
  </section><!--modal fade-->
</section><!--modal container-->

<!--EDIT MODAL-->


<div class="tab-content">
  <div class="container-fluid  p-5 ">
    <section class="nameTable jus">
      <h2>Services details</h2>

    </section>
    <button type="button" class="btn add-btn">
      <span data-toggle="tooltip" title="add">
        <svg class="plus">
          <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#minus"></use>
        </svg>
      </span>
      Delete
    </button>
    <button type="button" class="btn add-btn" data-toggle="modal" data-target="#serviceModal">
      <span data-toggle="tooltip" title="add">
        <svg class="plus">
          <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#plus"></use>
        </svg>
      </span>
      Add new 
    </button>
    <table data-toggle="table" id="table" data-search="true" >
      <thead class="thead-dark">
        <tr>
          <th>Select</th>
          <th>Services name</th>
          <th>Description</th>
          <th>Images</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="tableBody">
      </tbody>
    </table>
  </div>
</div>
<template id="tableServicesTemplate">
  <tr>
    <td class="text-center">
      <label class="checkbox"><input type="checkbox" /><span class="primary"></span></label>
    </td>
    <td><h2>#</h2></td>
    <td><p class="name-services"></p></td>
    <td class="text-center"><img src="" alt="" class="img-edit" /></td>
    <td class="text-center">
      <button type="button" class="btn delete">
        <span data-toggle="tooltip" title="add">
          <svg class="delete">
            <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#delete"></use>
          </svg>
        </span>
        Delete
      </button>
      <button type="button" class="btn edit-btn editBtn" data-toggle="modal" data-target="#serviceModal">
        <span data-toggle="tooltip" title="edit">
          <svg class="edit">
            <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#edit"></use>
          </svg>
        </span>
        Edit
      </button>
    </td>
  </tr>
</template>
