
@{
  ViewBag.Title = "Services";
}
<!--ADD MODAL-->
<section class="container tab-pane active tab-content" id="tableService">
  <section class="modal fade" id="addModal" role="dialog">
    <section class="modal-dialog modal-lg">
      <form class="modal-content pl-5 pr-5 form-add-service">
        <section class="modal-header pl-0 pr-0">
          <h4 class="headerOfModal">Add your detail</h4>
          <button type="button" class="close closed" data-dismiss="modal">
            &times;
          </button>
        </section><!--modal header-->
        <p class="errorMessage"></p>
        <section class="modal-body text-center ">
          <div class="form-group">
            <input class="form-control madalInput " type="text" placeholder="Services name" autocomplete="off" name="Name">
          </div>
          <div class="form-group">
            <textarea class="form-control textarea " rows="5" placeholder="Description" name="Description"></textarea>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input " placeholder="Choose image" accept="image/*" name="Image">
            <label class="custom-file-label" for="customFile">Choose image</label>
          </div>
        </section><!--modal body-->
        <section class="modal-footer justify-content-center">
          <button type="button" class="btn btn-info w-25 btn-lg add">Add</button>
        </section><!--modal-footer-->
        @Html.AntiForgeryToken()
      </form><!--modal-content-->
      <section class="modal-content addServiceSuccsses d-none">
        <section class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </section><!--modal header-->
        <section class="modal-body text-center">
          <svg class="success">
            <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#success"></use>
          </svg>
          <p class="thanks">Thank you!</p>
          <p>Services successfully added to your table </p>
        </section><!--modal body-->
        <section class="modal-footer">
          <button type="button" class="btn btn-default closed" data-dismiss="modal">Close</button>
        </section><!--modal-footer-->
      </section><!--modal-content-->
    </section><!--modal-dilog-->
  </section><!--modal fade-->
</section><!--modal container-->

<!--EDIT MODAL-->

  <section class="modal fade" id="editModal" role="dialog">
    <section class="modal-dialog modal-lg">
      <form class="modal-content pl-5 pr-5 form-edit-service">
        <section class="modal-header pl-0 pr-0">
          <h4 class="headerOfModal">Edit your detail</h4>
          <button type="button" class="close closed" data-dismiss="modal">
            &times;
          </button>
        </section><!--modal header-->
        <p class="errorMessage"></p>
        <section class="modal-body text-center ">
          <div class="form-group">
            <input class="form-control madalInput " type="text" placeholder="Services name" autocomplete="off" name="Name">
          </div>
          <div class="form-group">
            <textarea class="form-control textarea " rows="5" placeholder="Description" name="Description"></textarea>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input " placeholder="Choose image" accept="image/*" name="Image">
            <label class="custom-file-label" for="customFile">Choose image</label>
          </div>
        </section><!--modal body-->
        <section class="modal-footer justify-content-center">
          <button type="button" class="btn btn-info  w-25 btn-lg update">Update</button>
        </section><!--modal-footer-->
        @Html.AntiForgeryToken()
      </form><!--modal-content-->
     </section><!--modal-dilog-->
  </section><!--modal fade-->

<!-- Delete Modal HTML -->
<section id="deleteServicesModal" class="modal fade">
  <section class="modal-dialog">
    <section class="modal-content">
      <form class="delete-form">
        <section class="modal-header">
          <h4 class="modal-title">Delete Services</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </section>
        <p class="errorMessage"></p>
        <section class="modal-body modal-sure">
          <h4 class="text-center">Are you sure you want to delete these Records?</h4>
          <p class="text-center">Do you really want to delete these records? This process cannot be undone.</p>
        </section>
        <section class="modal-footer delete-modal-footer ">
          <button type="button" class="btn  delete-service-modal">Delete</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </section>
        @Html.AntiForgeryToken()
      </form>
    </section>
  </section>
</section>

<div class="container-fluid teble-mb  pl-5 pr-5 ">
  <section class="nameTable jus">
    <h2>Services details</h2>
  </section>
  <button type="button" class="btn add-new " data-toggle="modal" data-target="#addModal">
    <span data-toggle="tooltip" title="add">
      <svg class="plus">
        <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#plus"></use>
      </svg>
    </span>
    <span>Add new</span>
  </button>
  <table data-toggle="table" id="tableServices" data-search="true">
    <thead class="thead-dark">
      <tr>
        <th class="d-none">Order</th>
        <th>Id</th>
        <th>Select</th>
        <th>Services name</th>
        <th>Description</th>
        <th>Images</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="tableBody">
    </tbody>
  </table>
</div>

<template id="tableServicesTemplate">
  <tr>
    <td class="order d-none"></td>
    <td class="id"></td>
    <td class="text-center">
      <label class="checkbox"><input type="checkbox" /><span class="primary"></span></label>
    </td>
    <td><h2>#</h2></td>
    <td><p class="name-services"></p></td>
    <td class="text-center"><img src="" alt="" class="img-edit" /></td>
    <td class="text-center">
      <button type="button" class="btn delete-services">
        <span data-toggle="tooltip" title="delete">
          <svg class="delete">
            <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#delete"></use>
          </svg>
        </span>
        Delete
      </button>
      <button type="button" class="btn edit-btn editBtn" data-toggle="modal" data-target="#editModal">
        <span data-toggle="tooltip" title="edit">
          <svg class="edit">
            <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#edit"></use>
          </svg>
        </span>
        <span class="ml-1">Edit</span>
      </button>
    </td>
  </tr>
</template>

