
@{
  ViewBag.Title = "Admin page";

}
@section Scripts {
  <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
  <script src="~/Content/Js/Custom/adminProject.js"></script>
  <script src="~/Content/Js/Custom/adminServices.js"></script>
}
@section Styles {
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
}


<div class="container-fluid admin-page pl-5 pr-5 mb-5 ">
  <h2>Admin page</h2>
  <section class="hr-heading "></section>
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tableServices">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tableProjects">Projects</a>
    </li>
  </ul>
</div>

<section class="container-fluid  pl-5 pr-5  ">
  <section class="nameTable jus">
    <h2>Table details</h2>
  </section>
  <section class="d-flex justify-content-between">
    <button type="button" class="btn add-new " data-toggle="modal" data-target="#addModal">
      <span data-toggle="tooltip" title="add">
        <svg class="plus">
          <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#plus"></use>
        </svg>
      </span>
      <span>Add new</span>
    </button>
    <input class="form-control" id="searchService" type="text" placeholder="Search..">
  </section>
  </section>
<section class="container-fluid  tab-content ">
  @Html.Partial("_ProjectPartial")

  @Html.Partial("_ServicesPartial")
</section>