
@{
  ViewBag.Title = "Admin page";

}
@section Scripts {
  <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
  <script src="~/Content/Js/Custom/table.js"></script>

}
@section Styles {
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
}


<div class="container admin-page">
  <h2>Admin page</h2>
  <ul class="nav nav-tabs">

    <li><a href="#servicesTable">Services</a></li>
    <li><a href="#menu2">Menu 2</a></li>
  </ul>
</div>

@Html.Partial("_ServicesPartial")