@{
    ViewBag.Title = "Profile Settings";
}

<div class="container-fluid login-bg">
    <h4>@ViewBag.Title</h4>
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div class="login-form manage">
        <h5>Change your account settings</h5>
        <div>
            <p>Password:</p>
            <div>
                [@Html.ActionLink("Change your password", "ChangePassword")]
            </div>
        </div>
    </div>
</div>