.svg-construction-worker-dims {
	width: 489.6px;
	height: 489.6px;
}

.svg-develop-dims {
	width: 31px;
	height: 31px;
}

.svg-email-dims {
	width: 26px;
	height: 26px;
}

.svg-growth-dims {
	width: 62px;
	height: 81px;
}

.svg-hiring-dims {
	width: 496px;
	height: 496px;
}

.svg-interview-dims {
	width: 512px;
	height: 512px;
}

.svg-linkedin-dims {
	width: 310px;
	height: 310px;
}

.svg-money-bag-dims {
	width: 31px;
	height: 31px;
}

.svg-placeholder-dims {
	width: 26px;
	height: 26px;
}

.svg-planning-dims {
	width: 30px;
	height: 30px;
}

.svg-protection-dims {
	width: 57px;
	height: 55px;
}

.svg-quality-dims {
	width: 31px;
	height: 31px;
}

.svg-respect-dims {
	width: 31px;
	height: 31px;
}

.svg-resume-dims {
	width: 512px;
	height: 512px;
}

.svg-review-dims {
	width: 512px;
	height: 512px;
}

.svg-team-dims {
	width: 647px;
	height: 647px;
}

.svg-telephone-dims {
	width: 512px;
	height: 512px;
}

.svg-tick-inside-circle-dims {
	width: 510px;
	height: 510px;
}

.svg-value-dims {
	width: 480.06px;
	height: 480.06px;
}

