
@{
  ViewBag.Title = "Careers";
}
@section Scripts {

  <script src="~/Content/Js/Custom/careers.js"></script>
  <script src="~/Content/Js/jquery.validate.min.js"></script>
  <script src="~/Content/Js/additional-methods.min.js"></script>
}
<section class="container-fluid">
  <!----------------------------BG CAREER------------------------------>
  <section class="row">
    <section class="col-lg-12 career-bg">
      <section class="slide-text">
        <h2>Your career starts <span> here!</span></h2>
      </section>
    </section> <!--career-bg-text-->
  </section> <!-- career-bg -->
  <!----------------------------------CAREER MAIN----------------------------------------->
  <section class="container">
    <section class="row">
      <section class="col-lg-12 career-descption ">
        <h3>Join our team</h3>
        <section class="hr-heading "></section>
        <p>
          We seek out people who are smart, creative, up for any challenge and like about what they do.
          We offer our candidates competitive wages.  The monthly salary is calculated depending on experience.
          Who want to join  our team.
        </p>
      </section> <!--col-lg-12 career-descption-->
    </section>  <!--row-->
  </section>
  <section class="hiring-process">
    <section class="row">
      <section class="col-lg-12">
        <h3> Hiring process</h3>
      </section> <!--col-lg-12--->
      <!--RESUME-->
      <section class="col-lg-3 col-sm-6">
        <span class="hiring-icon">
          <svg>
            <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#resume"></use>
          </svg>
        </span>
        <span class="hiring-text-span">Resume submission</span>
      </section> <!--hiring-icon HR RESUME--->
      <!--Review OF HR MANAGER-->
      <section class="col-lg-3 col-sm-6">
        <span class="hiring-icon">
          <svg>
            <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#review"></use>
          </svg>
        </span>
        <span class="hiring-text-span">Review of HR managers</span>
      </section> <!--hiring-icon HR MANAGER--->
      <!--INTERVIEW-->
      <section class="col-lg-3 col-sm-6">
        <span class="hiring-icon">
          <svg>
            <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#interview"></use>
          </svg>
        </span>
        <span class="hiring-text-span">Interview</span>
      </section>  <!--hiring-icon INTERVIEW--->
      <!--HIRING-->
      <section class="col-lg-3 col-sm-6">
        <span class="hiring-icon">
          <svg>
            <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#hiring"></use>
          </svg>
        </span>
        <span class="hiring-text-span">Hiring</span>
      </section>  <!--hiring-icon HIRING-->
    </section> <!--row-->
  </section><!--container-hiring-process-->
  <section class="container form-touch">
    <section>
      <p class="errorMessage"></p>
    </section>  <!--errorMessage-->
    <h5>Apply for job</h5>
    <form class="career-form " id="сareers-form">
      @Html.AntiForgeryToken()
      <section class="row">
        <section class="col-sm-6 form-group">
          <label for="fiirst name" class="require">First name</label>
          <input type="text" class="form-control required" name="FirstName" />
        </section>  <!--col-6-12-->
        <section class="col-lg-6 form-group">
          <label for="LastName" class="require">Last name</label>
          <input type="text" class="form-control required" name="LastName" />
        </section>  <!--col-lg-6-->
      </section>  <!--row-->
      <section class="row">
        <section class="col-lg-6 form-group">
          <label for="Email" class="require">Email</label>
          <input type="email" class="form-control required" name="Email" />
        </section>  <!--col-lg-6-->
        <section class="col-lg-6 form-group ">
          <label for="PhoneNumber" class="require">Phone number</label>
          <input type="tel" class="form-control required" name="PhoneNumber" />
        </section>  <!--col-lg-6-->
      </section> <!--row-->
      <section class="row">
        <section class="col-lg-12  form-group">
          <label for="message">Message</label>
          <textarea class="form-control" rows="5" name="Message"></textarea>
        </section> <!--col-lg-12-->
      </section><!--row-->
      <section class="custom-file ">
        <input type="file" class="custom-file-input fileName required" name="Resume" />
        <label class="custom-file-label require" for="Resume">Choose your resume</label>
      </section> <!--custom-file-->
      <button type="submit" class="btn btnForm align-self-center">Submit</button>
    </form>
  </section><!--form-touch-->
  <!-- Modal -->
  <section class="container" data-toggle="modal" data-target="#myModal">
    <section class="modal fade" id="myModal" role="dialog">
      <section class="modal-dialog modal-lg">
        <section class="modal-content">
          <section class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </section><!--modal header-->
          <section class="modal-body text-center">
            <svg class="success">
              <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#success"></use>
            </svg>
            <p class="thanks">Thank you!</p>
            <p>Your message has been sent successfully!</p>
          </section><!--modal body-->
          <section class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </section><!--modal-footer-->
        </section><!--modal-content-->
      </section><!--modal-dilog-->
    </section><!--modal fade-->
  </section><!--modal container-->
</section><!--container-fluid-->
