
@{
  ViewBag.Title = "Clients";
}
@section Scripts {
  <script src="~/Content/Js/Custom/clients.js"></script>
  <script src="~/Content/Js/jquery.validate.min.js"></script>
  <script src="~/Content/Js/additional-methods.min.js"></script>

}
<section class="container-fluid">
  <section class="row">
    <section class="col-lg-12 clients-bg">
      <h2>Our clients</h2>
    </section> <!-- contacts-bg -->
  </section> <!--row-->

  <section class="container">
    <h3 id="clients"></h3>
    <section class="hr-heading "></section>
    <p>
      OBS Restoration ltd is a specialized restoration contractor with expertise in a wide range of quality concrete restoration,
      stone, masonry restoration, caulking, glazing replacement, balcony railings replacement and waterproofing services.
      We are a team of professional, restorations individuals with  experienced managers and craftsmans available to guide our
      clients through the flawless and timely execution of any, restoration works. Since day one, we have been delivering creative
      and technically thought out ideas to our clients.
    </p>
    <p class="estimate">Please fill out the form below to request a <span>free</span> estimate. </p>
  </section> <!--container-->
  <section class="container form-touch">
    <section>
      <p class="errorMessage"></p>
    </section>  <!--errorMessage-->
    <h5>Request an Estimate</h5>
    <form id="сlients-form">
      @Html.AntiForgeryToken()
      <section class="form-group">
        <label for="ProjectType" class="require">Type of project</label>
        <select class="form-control  required" name="TypeOfProject">
          <option></option>
          <option>Building envelop restoration, including balcony slab repairs</option>
          <option>Masonry repairs (brick replacement, block, glass block, stone, tuck pointing)</option>
          <option>Concrete repairs (precast panel, underground garage slab, ramps, columns, canopies, patching)</option>
          <option>Caulking, glazing, sealants</option>
          <option>Waterproofing (cold applied, penetrating sealers, hot robber application)</option>
          <option>Metal railing replacement</option>
          <option>Wall coating</option>
          <option>Pressure washing</option>
          <option>Flashing installation and replacement</option>
          <option>Insulation installation</option>
          <option>Metal siding installation</option>
          <option>Other</option>
        </select>
      </section> <!--form-group-->
      <section class="form-group">
        <label for="BuildingType" class="require">Building type</label>
        <select class="form-control required " name="BuildingType">
          <option></option>
          <option>Commertcial</option>
          <option>Historical</option>
          <option>Public</option>
          <option>Industrial</option>
          <option>Other</option>
        </select>
      </section><!--form-group-->
      <section class="row">
        <section class="col-lg-12  form-group">
          <label for="ProjectSummary" class="require">Please provide a summary of your restoration project</label>
          <textarea class="form-control required" rows="5" name="ProjectSummary"></textarea>
        </section> <!--form-group-->
      </section> <!--row-->
      <section class="custom-file">
        <input type="file" class="custom-file-input file required" name="Files" multiple />
        <label class="custom-file-label require" for="File">Choose your files</label>
      </section> <!--custom-file-->
      <section class="row">
        <section class="col-sm-6 form-group">
          <label for="FiirstName" class="require">First name</label>
          <input type="text" class="form-control required" name="FirstName" />
        </section> <!--row-->
        <section class="col-lg-6 form-group">
          <label for="LastName" class="require">Last name</label>
          <input type="text" class="form-control required" name="LastName" />
        </section> <!--form-group-->
      </section><!--row-->
      <section class="row">
        <section class="col-lg-6 form-group">
          <label for="Email" class="require">Email</label>
          <input type="email" class="form-control required" name="Email" />
        </section> <!--form-group-->
        <section class="col-lg-6 form-group">
          <label for="PhoneNumber">Phone number</label>
          <input type="tel" class="form-control" name="PhoneNumber" />
        </section> <!--form-group-->
      </section> <!--row-->
      <section class="row">
        <section class="col-lg-6 form-group">
          <label for="Address">Address</label>
          <input type="text" class="form-control" name="Address" />
        </section><!--form-group-->
        <section class="col-lg-6 form-group">
          <label for="PostalCode">Postal Code</label>
          <input type="text" class="form-control " name="PostalCode" />
        </section> <!--form-group-->
      </section> <!--row-->
      <button type="submit" class="btn  align-self-center">Request an estimate</button>
      @Html.Hidden("ClientType", (string)ViewBag.ClientType)
    </form>
  </section> <!--form-touch-->
  <!-- Modal -->
  <section class="container" data-toggle="modal" data-target="#myModal">
    <section class="modal fade" id="myModal" role="dialog">
      <section class="modal-dialog modal-lg">
        <section class="modal-content">
          <section class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </section><!--modal header-->
          <section class="modal-body text-center">
            <svg class="success">
              <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#success"></use>
            </svg>
            <p class="thanks">Thank you!</p>
            <p class="messageSuccessfully"></p>
          </section><!--modal body-->
          <section class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </section><!--modal-footer-->
        </section><!--modal-content-->
      </section><!--modal-dilog-->
    </section><!--modal fade-->
  </section><!--modal container-->
</section> <!--container-fluid-->
