
@{
  ViewBag.Title = "Contact";
}

<section class="container-fluid">
  <section class="row">
    <section class="col-lg-12 contacts-bg">
      <h2>Contact</h2>
    </section> <!-- contacts-bg -->
  </section> <!--row-->


</section>
<section id="map"></section>


<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDb_k68FIUtrS8eHxWVkAmOe77vjnnxeSM&callback=initMap">
</script>

