
@{
  ViewBag.Title = "Gallery";
}
@section Scripts {
  <script src="~/Content/Js/jssor.slider-28.0.0.min.js"></script>
  <script src="~/Content/Js/Custom/gallery.js"></script>


}
@section Styles {
  <link href="~/Content/Css/Custom/gallery.css" rel="stylesheet" />
}
<section class="container-fluid bg">
  <section class="container gallery ">
    <section class="row">
      <section class="col-sm-12 ">
        <h3>
          Take a look at some of our recently completed projects.
        </h3>
        <section class="hr-heading "></section>
      </section>
    </section>
    <h3>portfolio</h3>
    <div id="jssor_1">
      <div data-u="slides">
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/1.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/2.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/3.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/4.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/5.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/6.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/7.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/8.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/9.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/10.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/11.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/12.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/13.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/14.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/15.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/16.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/17.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/18.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/19.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/20.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/21.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/22.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/23.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/24.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/25.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/26.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/27.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/28.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/29.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/30.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/31.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/32.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/33.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/34.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/35.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/36.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/37.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/38.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/39.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/40.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/41.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/42.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/43.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/44.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/45.jpg" alt="img" />
        </div>
        <div>
          <img data-u="image" src="../../Content/Images/Gallery/46.jpg" alt="img" />
        </div>
      </div>
      <div data-u="arrowleft"
           class="jssora073"
           data-autocenter="2"
           data-scale="0.75"
           data-scale-left="0.75">
        <svg class="arrowleft">
          <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#left-arrow" class="a"></use>
        </svg>
      </div>
      <div data-u="arrowright"
           class="jssora073"
           data-autocenter="2"
           data-scale="0.75"
           data-scale-left="0.75">
        <svg class="arrowright">
          <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#right-arrow" class="a"></use>
        </svg>
      </div>
    </div>
  </section>
</section>

<script type="text/javascript">
  $(function () {
    jssor_1_slider_init();
  })
</script>
<!-- #endregion Jssor Slider End -->