
@{
  ViewBag.Title = "Gellary";
}
<div id="jssor_1">
  <!-- Loading Screen -->
  <div data-u="loading" class="jssorl-009-spin">
   <img src="img/spin.svg" />
  </div>

  <div data-u="slides">
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/1.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/2.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/3.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/4.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/5.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/6.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/7.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/8.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/9.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/10.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/11.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/12.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/13.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/14.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/15.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/16.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/17.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/18.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/19.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/20.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/21.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/22.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/23.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/24.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/25.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/26.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/27.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/28.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/29.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/30.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/31.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/32.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/33.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/34.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/35.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/36.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/37.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/38.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/39.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/40.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/41.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/42.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/43.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/44.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/45.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/46.jpg" alt="img" />
    </div>
    <div>
      <img data-u="image" src="../../Content/Images/Gallery/47.jpg" alt="img" />
    </div>
  </div>
</div>



<!-- #endregion Jssor Slider End -->