@{
  ViewBag.Title = "Home Page";
}
@section Scripts {
  <script src="~/Content/Js/Custom/index.js"></script>
}
@section Styles {
  <link href="~/Content/Css/Custom/services.css" rel="stylesheet" />
}
<!---------------------------------- MAIN ------------------------------------->
<section class="container-fluid main">
    <!---------------SLIDER------------------>
    <section class="slider-container">
        <section class="slider curry">
            <section class="slide" id="slide-0"></section>
            <section class="slide-text">
                <h2 class="curry-header">Restoration</h2>
                <p>Fully servicing the Ontario regions</p>
                <a href="/home/Projects">See our resent project</a>
            </section> <!--slide-text-->
        </section> <!--slider-->
        <section class="slider">
            <section class="slide" id="slide-1"></section>
            <section class="slide-text">
                <h2>Offering <span>best</span> services</h2>
                <a href="/home/Projects" class="text-slide">See our resent project</a>
            </section> <!--slide-text-->
        </section> <!--slider-->
        <section class="slider">
            <section class="slide" id="slide-2"></section>
            <section class="slide-text text-slide">
                <h2>From start to <span>finish</span></h2>
                <a href="/home/Projects" class="text-slide">See our resent project</a>
            </section>  <!--slide-text-->
        </section> <!--slider-->
    </section>
    <section class="row">
        <section class="col-sm-12">
            <h3 id="about">About us</h3>
            <section class="hr-heading "></section>
        </section>
    </section> <!--row-->
    <!-- CORE VALUES-->
    <section class="row">
        <section class="col-lg-6 col-sm-12 about-advantages">
            <span>
                <svg>
                    <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#value"></use>
                </svg>
            </span>
            <h4>Core values</h4>
            <p>
              OBS Restoration is a specialized restoration contractor with expertise in a wide range of concrete restoration,
              stone, masonry restoration, caulking, glazing replacement, 
              balcony railings replacement and waterproofing services. Our company’s core values 
              emphasize a commitment to safety, quality, and the communities in which we work.
            </p>
        </section> <!--section-about-us CORE VALUES-->
        <!--  PACE-->
        <section class="col-lg-6 col-sm-12 about-advantages">
            <span>
                <svg>
                    <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#growth"></use>
                </svg>
            </span>
            <h4>Pace</h4>
            <p>
              OBS Restoration has a track-record of completing projects on time without compromising on quality of our work.
            </p>
        </section> <!--section-about-us PACE-->
    </section><!--row-->
    <!--   QUALITY-->
    <section class="row">
        <section class="col-lg-6 about-advantages">
            <span>
                <svg>
                    <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#quality"></use>
                </svg>
            </span>
            <h4>Quality</h4>
            <p>
              OBS Restoration is committed to providing the highest quality of 
              service to our clients on any project, whether big or small.
            </p>
        </section>
        <!--section-about-us QUALITY-->
        <!-- SAFETY -->
        <section class="col-lg-6 about-advantages">
            <span>
                <svg>
                    <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#firewall"></use>
                </svg>
            </span>
            <h4>Safety</h4>
            <p>
              Our team of experienced professionals takes special precautions on every job site. Ensuring the safety of our employees, 
              the public, the project, and minimizing disruption to the surrounding areas are at the forefront of our project planning – from start to finish. On every project,
              OBS Restoration ensures that all OHSA standard, CSA, building code, local and environmental compliances are met.
            </p>
        </section> <!--section-about-us SAFETY-->
    </section> <!--row-->
    <!--------------------- BANNER CRAFTSMEN------------------- -->
    <section class="row">
        <section class="col-lg-12 banner-craftsman text-center text-md-left">
            <h3><span>Best</span> skilled craftsmen</h3>
        </section> <!--col-lg-12 -->
    </section> <!--row-->
    <!-- CLIENTS -->
    <section class="container">
        <section class="row  justify-content-center">
            <section class="col-lg-12 text-center">
                <h3>We offer a great variety of services</h3>
                <section class="hr-heading "></section>
            </section>
            <section class="col-lg-8 client-description text-center ">
              <p>
                Whether you're an owner, Engineer/Architect, or a Property Manager, we invite you to experience the 
                level of commitment we have to our customers and the services we provide.
                We offer a large variety of services to help you to restore and improve integrity of your property.

              </p>
            </section> <!-- col-lg-8 home-page-client-description -->
        </section> <!-- row -->
        <section class="row">
            <!---------------------Enginners&Architecs-------------->
            <section class="col-md-4 col-lg-4  client-card text-center">
                <img src="../../Content/Images/Clients/Engineering.jpg" alt="engineering" />
                <h3>Engineers & Architects</h3>
              <a href="/home/Clients?type=3">View more</a>
            </section> <!-- col-md-4 col-lg-4 home-page-client-card -->
            <!---------------------Propperty Managers-------------->
            <section class="col-md-4 col-lg-4  client-card text-center">
                <img src="../../Content/Images/Clients/property.jpg" alt="engineering" />
                <h3>Property Managers</h3>
               <a href="/home/Clients?type=2">View more</a>
            </section> <!-- col-md-4 col-lg-4 home-page-client-card -->
            <!------------------------------Owners---------------------->
            <section class="col-md-4 col-lg-4 client-card text-center">
                <img src="./../Content/Images/Clients/owners.jpg" alt="owners" />
                <h3>Owners</h3>
             <a href="/home/Clients?type=1">View more</a>
            </section> <!-- col-md-4 col-lg-4 home-page-client-card  -->

        </section> <!-- row -->
    </section> <!-- container -->
    <!-- -----------------OFFERING ----------------------------------->
    <section class="row">
        <section class="col-sm-12">
            <h3>What we offer</h3>
            <section class="hr-heading"></section>
        </section> <!--col-sm-12-->
    </section>  <!--row  offer-->
    <!-- SERVICES FOR Clients-->
    <section class="row">
        <!-------------- Commertcial buildings ------------>
        <section class="col-lg-3 col-sm-6 services-offer ">
            <figure class="services-offer-efect">
                <img src="../../Content/Images/Offer/commertcial-buildings.jpg"
                     alt="commertcial-buildings" />
                <figcaption>
                    <h2>Commertcial buildings</h2>
                </figcaption>
            </figure>
        </section><!--commertcial buildings-->
        <!-- col-lg-3 col-sm-6 Commertcial buildings -->
        <!-------------- Historical buildings----------- -->
        <section class="col-lg-3 col-sm-6 services-offer ">
            <figure class="services-offer-efect">
                <img src="../../Content/Images/Offer/historical-buildings.jpg"
                     alt="historical-buildings" />
                <figcaption>
                    <h2>Historical buildings</h2>
                </figcaption>
            </figure>
        </section><!--historical-buildings-->
        <!-- col-lg-3 col-sm-6 Historical buildings -->
        <!--------------- Public buildings ------------->
        <section class="col-lg-3 col-sm-6 services-offer ">
            <figure class="services-offer-efect">
                <img src="../../Content/Images/Offer/public-buildings.jpg"
                     alt="public-buildings" />
                <figcaption>
                    <h2>Public buildings</h2>
                </figcaption>
            </figure>
        </section><!--public-buildings-->
        <!-- col-lg-3 col-sm-6 Public buildings -->
        <!------------ Industrial buildings ----------->
        <section class="col-lg-3 col-sm-6 services-offer ">
            <figure class="services-offer-efect">
                <img src="../../Content/Images/Offer/Industrial-building.jpg"
                     alt="industrial-buildings" />
                <figcaption>
                    <h2>Industrial buildings</h2>
                </figcaption>
            </figure>
        </section> <!-- Industrial buildings -->
    </section> <!--row-->
    <!----------Services-offers-banner--------------->
    <section class="row">
        <section class="col-lg-12 services-banner text-center ">
          <h4>
            Our company offers a wide range of services for the restoration 
            of commercial, historical, and residential buildings.
          </h4>
            <a href="/home/Services">View all services</a>
        </section> <!--col-lg-12 services-offers-banner-->
    </section> <!--row-->
</section> <!--container-fluid main-->
