@{
    ViewBag.Title = "Home Page";
}
@section Scripts {

}
@section Styles {
    <script src="~/Content/Js/Custom/index.js"></script>
}

<!---------------------------------- MAIN ------------------------------------->
<section class="container-fluid main">
    <!---------------SLIDER------------------>
    <section class="slider-container">
        <section class="slider curry">
            <section class="slide" id="slide-0"></section>
            <section class="slide-text">
                <h2 class="curry-header">Restoration</h2>
                <p>Fully servicing the Ontario regions</p>
                <a href="/home/Projects">See our resent project</a>
            </section> <!--slide-text-->
        </section> <!--slider-->

        <section class="slider">
            <section class="slide" id="slide-1"></section>
            <section class="slide-text">
                <h2>Offering <span>best</span> services</h2>
                <a href="/home/Projects" class="text-slide">See our resent project</a>
            </section> <!--slide-text-->
        </section> <!--slider-->

        <section class="slider">
            <section class="slide" id="slide-2"></section>
            <section class="slide-text text-slide">
                <h2>From start to <span>finish</span></h2>
                <a href="/home/Projects" class="text-slide">See our resent project</a>
            </section>  <!--slide-text-->
        </section> <!--slider-->
    </section>

    <section class="row">
        <section class="col-sm-12">
            <h2>About us</h2>
            <section class="hr-heading "></section>
        </section>
    </section> <!--row-->
    <!-- CORE VALUES-->
    <section class="row">
        <section class="col-lg-6 col-sm-12 about-advantages">
            <span>
                <svg>
                    <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#value"></use>
                </svg>
            </span>
            <h3>Core values</h3>
            <p>
                OBS Restoration is a specialized restoration contractor with
                expertise in a wide range of quality concrete restoration, stone,
                masonry restoration, caulking, glazing replacement, balcony railings
                replacement and waterproofing services. Our company’s core value
                directives emphasize a commitment to safety, quality, and the
                communities in which we work in.
            </p>
        </section> <!--section-about-us CORE VALUES-->
        <!--  PACE-->
        <section class="col-lg-6 col-sm-12 about-advantages">
            <span>
                <svg>
                    <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#growth"></use>
                </svg>
            </span>
            <h3>Pace</h3>
            <p>
                Fully servicing the Ontario regions, our skilled craftsmen offer
                single source solutions to best equip you with the tools to plan,
                budget and successfully maintain the value of your property. As the
                restoration of contemporary structures the professionals at OBS
                Restoration ltd have both the knowledge and the “know how” to
                deliver rock-solid results on time and on budget.
            </p>
        </section> <!--section-about-us PACE-->
    </section><!--row-->
    <!--   QUALITY-->
    <section class="row">
        <section class="col-lg-6 about-advantages">
            <span>
                <svg>
                    <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#quality"></use>
                </svg>
            </span>
            <h3>Quality</h3>
            <p>
                Quality is focal in every little aspect of the restoration.Quality
                is focal in every little aspect of the . The mindset of both our
                senior employees and all the way to our on-site restoration workers
                centers on attention. It's out attention to details that allows us
                to work on a multitude of projects from commercial projects of all
                sizes, to the restoring of historical properties, OBS Restoration
                ltd is committed to the safe execution of the highest quality work
                in the industry.
            </p>
        </section>
        <!--section-about-us QUALITY-->
        <!-- SAFETY -->
        <section class="col-lg-6 about-advantages">
            <span>
                <svg>
                    <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#firewall"></use>
                </svg>
            </span>
            <h3>Safety</h3>
            <p>
                Protection to the public and our employees are of key concern, no
                compromises. OBS Restoration’s team of experienced professionals
                takes special precautions on every job site. Ensuring the safety of
                our employees, the public, the project, and minimizing disruption to
                the surrounding areas are at the forefront of our project planning –
                from start to finish. Because every job we are engaged to work on is
                different, considerations are made to ensure all OHSA standard, CSA,
                building code, local and environmental compliances are met.
            </p>
        </section> <!--section-about-us SAFETY-->
    </section> <!--row-->
    <!--------------------- BANNER CRAFTSMEN------------------- -->
    <section class="row">
        <section class="col-lg-12 banner-craftsman text-center text-md-left">
            <h3><span>Best</span> skilled craftsmen</h3>
        </section> <!--col-lg-12 -->
    </section> <!--row-->
    <!-- CLINTS -->
    <section class="container">
        <section class="row  justify-content-center">
            <section class="col-lg-12 text-center">
                <h2>We offer a great variety of services</h2>
                <section class="hr-heading "></section>
            </section>
            <section class="col-lg-8 clint-description text-center ">
                <p>
                    Whether you're a owner, Enginners&Architecs or Propperty Managers,
                    we invite you to experience the level of commitment we have to our
                    customers and the services we provide. We carry a large variety of
                    services to help you beautify and fortify your building.
                </p>
            </section> <!-- col-lg-8 home-page-clint-description -->
        </section> <!-- row -->
        <section class="row">
            <!---------------------Enginners&Architecs-------------->
            <section class="col-md-4 col-lg-4  clint-card text-center">
                <img src="../../Content/Images/Clints/Engineering.jpg" alt="engineering" />
                <h3>Enginners&Architecs</h3>
                <p>
                    Architects and engineers benefit from our conceptual flexibility
                    and broad vision of our company
                </p>
                <a href="/home/Clints">View more</a>
            </section> <!-- col-md-4 col-lg-4 home-page-clint-card -->
            <!---------------------Propperty Managers-------------->
            <section class="col-md-4 col-lg-4  clint-card text-center">
                <img src="../../Content/Images/Clints/property.jpg" alt="engineering" />
                <h3>Property Managers</h3>
                <p>
                    Our offer is also of interest to property managers, market leaders
                    on the northwest coast of Lake Ontario.
                </p>
                <a href="/home/Clints">View more</a>
            </section> <!-- col-md-4 col-lg-4 home-page-clint-card -->
            <!------------------------------Owners---------------------->
            <section class="col-md-4 col-lg-4 clint-card text-center">
                <img src="./../Content/Images/Clints/owners.jpg" alt="owners" />
                <h3>Owners</h3>
                <p>
                    We have worked with a diverse range of property owners providing them with a large variety of
                    services to preserve real estate.
                </p>
                <a href="/home/Clints">View more</a>
            </section> <!-- col-md-4 col-lg-4 home-page-clint-card  -->

        </section> <!-- row -->
    </section> <!-- container -->
    <!-- -----------------OFFERING ----------------------------------->
    <section class="row">
        <section class="col-sm-12">
            <h2>What we offer</h2>
            <section class="hr-heading"></section>
        </section> <!--col-sm-12-->
    </section>  <!--row  offer-->
    <!-- SERVICES FOR CLINTS-->
    <section class="row">
        <!-------------- Commertcial buildings ------------>
        <section class="col-lg-3 col-sm-6 services-offer ">
            <figure class="services-offer-efect">
                <img src="../../Content/Images/Offer/commertcial-buildings.jpg"
                     alt="commertcial-buildings" />
                <figcaption>
                    <h2>Commertcial buildings</h2>
                </figcaption>
            </figure>
        </section><!--commertcial buildings-->
        <!-- col-lg-3 col-sm-6 Commertcial buildings -->
        <!-------------- Historical buildings----------- -->
        <section class="col-lg-3 col-sm-6 services-offer ">
            <figure class="services-offer-efect">
                <img src="../../Content/Images/Offer/historical-buildings.jpg"
                     alt="historical-buildings" />
                <figcaption>
                    <h2>Historical buildings</h2>
                </figcaption>
            </figure>
        </section><!--historical-buildings-->
        <!-- col-lg-3 col-sm-6 Historical buildings -->
        <!--------------- Public buildings ------------->
        <section class="col-lg-3 col-sm-6 services-offer ">
            <figure class="services-offer-efect">
                <img src="../../Content/Images/Offer/public-buildings.jpg"
                     alt="public-buildings" />
                <figcaption>
                    <h2>Public buildings</h2>
                </figcaption>
            </figure>
        </section><!--public-buildings-->
        <!-- col-lg-3 col-sm-6 Public buildings -->
        <!------------ Industrial buildings ----------->
        <section class="col-lg-3 col-sm-6 services-offer ">
            <figure class="services-offer-efect">
                <img src="../../Content/Images/Offer/Industrial-building.jpg"
                     alt="industrial-buildings" />
                <figcaption>
                    <h2>Industrial buildings</h2>
                </figcaption>
            </figure>
        </section> <!-- Industrial buildings -->
    </section> <!--row-->
    <!----------Services-offers-banner--------------->
    <section class="row">
        <section class="col-lg-12 services-banner text-center ">
            <h2>
                Rest assured that our credentials, experience and in-house
                expertise benefit every restoration project we undertake!
            </h2>
            <a href="/home/Services">View all services</a>
        </section> <!--col-lg-12 services-offers-banner-->
    </section> <!--row-->
</section> <!--container-fluid main-->
