@{
  ViewBag.Title = "Projects";
}
@section Scripts {
  <script src="~/Content/Js/Custom/projects.js"></script>
  <script src="~/Content/Js/isotope-docs.min.js"></script>
}
@section Styles {
  <link href="~/Content/Css/Custom/project.css" rel="stylesheet" />
}
<section class="container-fluid">
  <section class="row">
    <section class="col-lg-12 project-bg">
      <section class="slide-text">
        <h2><span>Look</span> at your best projects</h2>
      </section>
    </section>
  </section> 
  <section class="errorProject">
    <svg class="success">
      <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#warning"></use>
    </svg>
    <p class="errorProjectMessage"></p>
  </section>
  <section class="grid">
    <section class="button-group filters-button-group">
    </section>
    <section class="pl-5 pr-5 description-container filterSection" ></section>
    <section class="images-group filterSection"></section> 
  </section>
</section> <!--container-fluid-->
<!--TAMPLATES-->
<template id="tabTemplate">
  <button class="button"></button>
</template>
<template id="descriptionTemplate">
  <p class="description-proj filter-item transition"  data-category="transition"></p>
</template>
<template id="imgTemplate">
  <img src="" alt="Project Image" class="element-item filter-item transition" data-category="transition" />
</template>
