
@{
  ViewBag.Title = "Projects";
}
@section Scripts {
  <script src="~/Content/Js/Custom/projects.js"></script>
  <script src="~/Content/Js/isotope-docs.min.js"></script>
  <script src="~/Content/Js/amplify.js"></script>
}
@section Styles {
  <link href="~/Content/Css/Custom/project.css" rel="stylesheet" />
  <link href="~/Content/Css/amplify.css" rel="stylesheet" />
}
<section class="container-fluid">
  <section class="row">
    <section class="col-lg-12 project-bg">
      <section class="slide-text">
        <h2><span>Look</span> at your best projects</h2>
      </section>
    </section> <!--project-bg-text-->
  </section> <!--project-bg-->


  <section class="project-filter ">
    <section class="row">
      <section class="col-lg-12 project-filter-links">
        <a href="#" data-filter="">All projects</a>
      </section>  <!--project-filter-links-->
    </section>  <!--row-->
  </section> <!--container-filter-->

  <section class="project-container">
  </section> <!--project-container-->
</section> <!--container-fluid-->
<!--TAMPLATE-->
<template id="templateTab">
  <a class="tab" href="#" data-filter=""></a>
</template>
<template id="templateImg">
  <section class="project-container-img">
    <img src="" alt="Project" class="js-amplify"/>
  </section>
</template>

