@{
  ViewBag.Title = "Services Page";
}
@section Scripts {
  <script src="~/Content/Js/Custom/services.js"></script>
}
@section Styles {
  <link href="~/Content/Css/Custom/services.css" rel="stylesheet" />
}


<section class="container-fluid ">
  <section class="row">
    <section class="col-lg-12 services-bg">
      <h2>Offering <span>best</span> services</h2>
      <p>Our building restoration services include work on commercial and historical building restorations</p>
    </section> <!--col services-bg -->
  </section> <!--row services-bg -->
  <!--SERVICES ADVANTAGES -->
  <section class="container-services">
    <section class="row h2">
      <section class="col-sm-12">
        <h3>Our services</h3>
        <section class="hr-heading "></section>
        <p>
          Our company offers a wide range of services for the restoration of commercial and historical buildings.
          Extensive experience in this area allows us to enables the needs of our customers by providing high quality based on your budget.
        </p>
      </section> <!--col-lg-12 services-description -->
    </section>  <!--row-->

    <section class="row">
      <!-- CRAFTSMANS-->
      <section class="col-lg-4 servisce-advantages">
        <span>
          <svg>
            <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#construction-worker"></use>
          </svg>
        </span>
        <p>
          Our craftsmans have a broad range of experience 
          with all types of materials and buildings.
        </p>
      </section> <!--col-lg-12 services-description CRAFTSMANS-->
      <!-- BUDGET-->
      <section class="col-lg-4 servisce-advantages">
        <span>
          <svg>
            <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#money-bag"></use>
          </svg>
        </span>
        <p>
          It is vital for any customers not to exceed the budget 
          and that is why we pay attention to cost sufficiency…
        </p>
      </section> <!--col-lg-12 services-description PLANNING-->
      <!-- QUALITY MATERIALS-->
      <section class="col-lg-4 servisce-advantages">
        <span>
          <svg>
            <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#verified"></use>
          </svg>
        </span>
        <p>
          Use of high quality materials from proven manufacturers.
        </p>
      </section> <!--col-lg-12 services-description QUALITY MATERIALS-->
    </section> <!--row -->

    <section class="row">
      <!--PLANNING-->
      <section class="col-lg-4 servisce-advantages">
        <span>
          <svg>
            <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#analysis"></use>
          </svg>
        </span>
        <p>
          We take our time on initial planning before any restoration begins,
          to balance all the financial and efficiency issues beforehand.
        </p>
      </section> <!--col-lg-12 services-description PLANNING-->
      <!--QUALITY ASSURANCE-->
      <section class="col-lg-4 servisce-advantages">
        <span>
          <svg>
            <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#quality"></use>
          </svg>
        </span>
        <p>
          Every project we work on is checked for quality assurance 
          to satisfy the needs of the modern society and customers.
        </p>
      </section> <!--col-lg-12 services-description QUALITY ASSURANCE-->
      <!--RESPECT-->
      <section class="col-lg-4 servisce-advantages">
        <span>
          <svg>
            <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#respect"></use>
          </svg>
        </span>
        <p>
          Maintaining safety, keeping a low level of noise and minimal 
          inconvenience to the residents and staff members.
        </p>
      </section> <!--col-lg-12 services-description RESPECT-->
    </section><!--row-->
    <section class="row advantages ">
      <!--TEAM-->
      <section class="col-lg-4 servisce-advantages">
        <span>
          <svg>
            <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#goal"></use>
          </svg>
        </span>
        <p>
          We work closely with architects and engineers to
          ensure the best results from our work.
        </p>
      </section> <!--col-lg-12 services-description TEAM-->
      <!--DEVELOP-->
      <section class="col-lg-4 servisce-advantages">
        <span>
          <svg>
            <use xlink:href="../../Content/Svg/spites/symbol/sprite.svg#teamwork"></use>
          </svg>
        </span>
        <p>
          Our restoration specialists work on projects
          of various sizes and technical complexity.
        </p>
      </section> <!--col-lg-12 services-description DEVELOP-->
    </section><!--row-->
  </section> <!--container-services-->
</section><!-- container-fluid-->
<!--------------------------- SERVICES LIST-->
<section class="container ">
  <section class="row">
    <section class="col-lg-12">
      <h3 class="text-center">What we offer</h3>
      <section class="hr-heading "></section>
    </section> <!--col-lg-12-->
  </section> <!--row-->
  <section class="row">
  </section>
</section>  <!-- container-->
<!--TEMPLETES-->
<template>
  <section class="col-lg-4 col-sm-6 services-offer ">
    <figure class="services-offer-efect">
      <img src="" alt="" />
      <figcaption>
        <h2></h2>
        <p></p>
      </figcaption>
    </figure>
  </section>
</template>

