@{
  ViewBag.Title = "Services Page";
}

<!--ICON SVG SERVICES ADVANTAGES-->
<!-- craftsmans -->
<svg display="none">
  <symbol viewBox="0 0 25 31" id="craftsmans">
    <g>
      <path d="M23.8211 22.9429C23.1615 21.922 22.2551 21.1108 21.1934 20.5869C21.1038 20.5037 20.9887
          20.448 20.8607 20.4338C20.0927 20.1078 19.2831 19.9424 18.4513 19.9424H16.6935V18.3965C17.7107
          17.5237 18.442 16.3676 18.7966 15.0791H19.0372C20.3296 15.0791 21.381 14.0277 21.381 12.7353C21.381
          12.1229 21.1446 11.5649 20.7586 11.1468C20.7955 11.1156 20.8314 11.083 20.866 11.0485C21.1981
          10.7164 21.381 10.275 21.381 9.80563C21.381 9.03436 20.8814 8.37794 20.189 8.14181C19.982 5.44743
          18.091 3.14493 15.4874 2.42329C15.3331 1.61751 14.6681 0.84079 13.7638 0.84079H11.42C10.5157 0.84079
          9.85073 1.61751 9.69645 2.42329C7.09307 3.14487 5.20225 5.44696 4.99489 8.14099C4.74282 8.22647
          4.51167 8.36903 4.31784 8.5628C3.98573 8.89491 3.80286 9.3363 3.80286 9.80563C3.80286 10.3425 4.04508
          10.8237 4.42571 11.1464C4.03946 11.5644 3.80286 12.1227 3.80286 12.7353C3.80286 14.0277 4.85426 15.0791
          6.14661 15.0791H6.38555C6.68157 16.1547 7.24284 17.1422 8.02583 17.9578C8.17295 18.1112 8.32893 18.2574
          8.49036 18.396V19.9424H6.73254C5.90063 19.9424 5.0911 20.1078 4.32317 20.4337C4.1952 20.448 4.08001
          20.5037 3.99053 20.5868C2.92864 21.1108 2.02231 21.922 1.36272 22.9429C0.659126 24.032 0.287231 25.2839
          0.287231 26.5634V30.2549C0.287231 30.5784 0.549556 30.8408 0.873169 30.8408H24.3107C24.6343 30.8408
          24.8966 30.5784 24.8966 30.2549V26.5634C24.8966 25.2839 24.5247 24.032 23.8211 22.9429ZM3.80286
          29.6689H1.45911V26.5634C1.45911 24.7812 2.37211 23.073 3.80286 22.0589V29.6689ZM19.0372 13.9072H19.0105C19.028
          13.7123 19.0372 13.5166 19.0372 13.3213V11.5634C19.6834 11.5634 20.2091 12.0891 20.2091 12.7353C20.2091
          13.3815 19.6834 13.9072 19.0372 13.9072ZM9.66223 3.66143V6.29001C9.66223 6.61362 9.92456 6.87595 10.2482
          6.87595C10.5718 6.87595 10.8341 6.61362 10.8341 6.29001V2.89526C10.8341 2.89374 10.8341 2.89222 10.8341
          2.89069V2.77438C10.8341 2.41134 11.1408 2.01266 11.42 2.01266H13.7638C14.0431 2.01266 14.3497 2.41134 14.3497
          2.77438V2.89069C14.3497 2.89222 14.3497 2.89374 14.3497 2.89526V6.29001C14.3497 6.61362 14.6121 6.87595 14.9357
          6.87595C15.2593 6.87595 15.5216 6.61362 15.5216 6.29001V3.66143C17.4136 4.33099 18.7794 6.04309 19.0045
          8.04782H6.17936C6.40442 6.04309 7.77024 4.33099 9.66223 3.66143ZM6.14661 13.9072C5.50043 13.9072 4.97473
          13.3815 4.97473 12.7353C4.97473 12.0891 5.50043 11.5634 6.14661 11.5634V13.3213C6.14661 13.5166 6.15586
          13.7123 6.17332 13.9072H6.14661ZM6.14661 10.3916H5.56067C5.23758 10.3916 4.97473 10.1287 4.97473 9.80563C4.97473
          9.64931 5.03573 9.50218 5.14647 9.39149C5.25727 9.28069 5.40434 9.2197 5.56067 9.2197H19.6232C19.9463 9.2197
          20.2091 9.48255 20.2091 9.80563C20.2091 9.96196 20.1481 10.1091 20.0374 10.2198C19.9266 10.3306 19.7795 10.3916
          19.6232 10.3916H19.0372H18.4513H6.73254H6.14661ZM7.42495 14.3867C7.42377 14.3803 7.42266 14.374 7.42125
          14.3677C7.35323 14.0238 7.31848 13.6718 7.31848 13.3213V11.5634H17.8654V13.3213C17.8654 13.6715 17.8306
          14.0233 17.7626 14.3674C17.7612 14.3738 17.7601 14.3802 17.7589 14.3866C17.497 15.6936 16.7723 16.8636
          15.7171 17.6819C14.8003 18.3941 13.7197 18.7705 12.5919 18.7705C11.4642 18.7705 10.3835 18.3941 9.46588
          17.6813C9.25583 17.5187 9.0559 17.3389 8.87145 17.1466C8.13229 16.3765 7.63237 15.4225 7.42495 14.3867ZM12.006
          29.6689H7.31848V28.3213C7.31848 27.9976 7.05616 27.7353 6.73254 27.7353C6.40893 27.7353 6.14661 27.9976 6.14661
          28.3213V29.6689H4.97473V21.435C5.355 21.2916 5.74676 21.196 6.14661 21.1489V24.8056C6.14661 25.1292 6.40893
          25.3916 6.73254 25.3916C7.05616 25.3916 7.31848 25.1292 7.31848 24.8056V21.1142H8.82522L12.006
          24.4541V29.6689ZM9.66223 20.2939V19.2025C10.5664 19.6886 11.5623 19.9424 12.5919 19.9424C13.6216
          19.9424 14.6176 19.6885 15.5216 19.2026V20.2939L12.5919 23.3701L9.66223 20.2939ZM20.2091 29.6689H19.0372V28.3213C19.0372 27.9976
          18.7749 27.7353 18.4513 27.7353C18.1277 27.7353 17.8654 27.9976 17.8654 28.3213V29.6689H13.1779V24.4541L16.3586
          21.1142H17.8654V24.8056C17.8654 25.1292 18.1277 25.3916 18.4513 25.3916C18.7749 25.3916 19.0372 25.1292 19.0372
          24.8056V21.1489C19.4371 21.196 19.8288 21.2916 20.2091 21.435V29.6689ZM23.7247 29.6689H21.381V22.0588C22.8117
          23.0729 23.7247 24.7811 23.7247 26.5634V29.6689Z" />
    </g>
  </symbol>
</svg>

<!-- budget -->
<svg display="none">
  <symbol viewBox="0 0 31 31" id="budget">
    <g>
      <path d="M24.4617 17.8291V10.8291C24.4688 7.54005 22.0112 4.76734 18.7451 4.37916L20.4116 1.0525C20.4893 0.897225
          20.4807 0.712654 20.3889 0.564949C20.2971 0.417488 20.1355 0.328133 19.9617 0.329109H10.9617C10.7883 0.329109 10.6274
          0.418709 10.5361 0.56617C10.4451 0.713387 10.4368 0.897469 10.5142 1.0525L12.1787 4.37916C8.91797 4.7776 6.46582 7.5442
          6.46167 10.8291V19.8291H7.46167V10.8291C7.46533 7.79298 9.92554 5.33277 12.9617 5.32911H17.9617C19.4209 5.32691 20.8213
          5.90577 21.853 6.93775C22.885 7.96949 23.4639 9.36988 23.4617 10.8291V17.8291H24.4617ZM17.6526 4.32911H13.2708L11.7708
          1.32911H19.1526L17.6526 4.32911Z" />
      <path d="M11.2117 7.79871C11.4854 7.63977 11.7795 7.51892 12.0862 7.43982L11.8362 6.4718C11.4419 6.5741 11.0632
          6.72937 10.7107 6.93323L11.2117 7.79871Z" />
      <path d="M8.46169 12.8292H9.46168V10.8292C9.45924 9.88269 9.84303 8.9762 10.5247 8.31921L9.82813 7.60217C8.95192 8.44666
          8.45827 9.61218 8.46169 10.8292V12.8292Z" />
      <path d="M1.8877 24.9032L10.3762 29.5328C11.3315 30.0551 12.4028 30.329 13.4917 30.3292H29.9616C30.2378 30.3292 30.4616
          30.1054 30.4616 29.8292V20.8292C30.4616 20.5531 30.2378 20.3292 29.9616 20.3292H26.1352L26.0781 20.2848C25.4909 19.8263
          24.8418 19.4533 24.1501 19.1762C21.7241 18.1862 18.9692 18.4296 16.7541 19.8292H12.9617C12.1655 19.829 11.4167
          20.2081 10.9455 20.85C10.4746 21.4918 10.3374 22.3197 10.5762 23.0792L4.39526 19.9823C3.47729 19.5214 2.37647
          19.6266 1.56275 20.2533C0.870851 20.7716 0.463137 21.5848 0.461672 22.4493V22.5043C0.460451 23.505 1.00781 24.4262
          1.8877 24.9032ZM26.4616 21.3292H29.4616V29.3292H26.4616V21.3292ZM1.46167 22.4493C1.46533 21.8895 1.73413 21.3644
          2.18628 21.0343C2.69531 20.6503 3.37842 20.589 3.94775 20.8763L11.7383 24.7762C11.8074 24.8112 11.884 24.8292 11.9617
          24.8292H19.4617V23.8292H12.9617C12.1333 23.8292 11.4617 23.1576 11.4617 22.3292C11.4617 21.5009 12.1333 20.8292 12.9617
          20.8292H16.9016C16.9995 20.829 17.0952 20.8004 17.1772 20.7467C19.1362 19.4567 21.6057 19.2159 23.7771 20.1036C24.3813
          20.3458 24.9485 20.6718 25.4616 21.0717V29.3292H13.4917C12.5703 29.329 11.6641 29.097 10.8557 28.6552L2.36475 24.0248C1.80713
          23.7223 1.46045 23.1386 1.46167 22.5043V22.4493Z" />
      <path d="M27.4617 26.8292H28.4617V27.8292H27.4617V26.8292Z" />
      <path d="M15.9617 17.8292V16.8292H16.4617C17.5662 16.8292 18.4617 15.9337 18.4617 14.8292C18.4617 13.7247 17.5662 12.8292
          16.4617 12.8292H14.4617C13.9094 12.8292 13.4617 12.3815 13.4617 11.8292C13.4617 11.277 13.9094 10.8292 14.4617
          10.8292H17.9617V9.82922H15.9617V8.82922H14.9617V9.82922H14.4617C13.3572 9.82922 12.4617 10.7247 12.4617 11.8292C12.4617
          12.9337 13.3572 13.8292 14.4617 13.8292H16.4617C17.0139 13.8292 17.4617 14.277 17.4617 14.8292C17.4617 15.3815 17.0139
          15.8292 16.4617 15.8292H12.9617V16.8292H14.9617V17.8292H15.9617Z" />
    </g>
  </symbol>
</svg>

<!-- quality materials -->
<svg display="none">
  <symbol viewBox="0 0 31 31" id="quality-materials">
    <g>
      <path d="M8.87978 12.2417L6.77979 14.3417L13.5298 21.0917L28.5298 6.09167L26.4298 3.99167L13.5298 16.8917L8.87978
          12.2417ZM27.0298 15.0917C27.0298 21.6917 21.6298 27.0917 15.0298 27.0917C8.42979 27.0917 3.02979 21.6917 3.02979
          15.0917C3.02979 8.49168 8.42979 3.09167 15.0298 3.09167C16.2298 3.09167 17.2798 3.24167 18.3298 3.54167L20.7298
          1.14167C18.9298 0.541675 16.9798 0.0916748 15.0298 0.0916748C6.77979 0.0916748 0.0297852 6.84167 0.0297852
          15.0917C0.0297852 23.3417 6.77979 30.0917 15.0298 30.0917C23.2798 30.0917 30.0298 23.3417 30.0298 15.0917H27.0298Z" />
    </g>
  </symbol>
</svg>

<!-- palanning -->
<svg display="none">
  <symbol viewBox="0 0 31 31" id="palanning ">
    <g>
      <path d="M30.4163 0.879395H0.41626V21.202H9.36504L5.73884 29.8138V30.8794H9.4534L13.3244
          21.202H13.4808V28.9439H17.3517V21.202H17.5082L21.3791 30.8794H25.0937V29.8138L21.4675 21.202H30.4163V0.879395ZM29.4485
          1.84714V17.331H1.384V1.84714H29.4485ZM8.79847 29.9117H6.74769L10.415 21.202H12.2822L8.79847 29.9117ZM16.384
          27.9762H14.4485V21.202H16.384V27.9762ZM24.0848 29.9117H22.034L18.5503 21.202H20.4175L24.0848 29.9117ZM1.384
          20.2342V18.2987H29.4485V20.2342H1.384Z" />
      <path d="M17.8356 11.0407C17.8356 13.9753 20.2235 16.3632 23.1582 16.3632C26.0928 16.3632 28.4807 13.9753 28.4807
          11.0407C28.4807 8.10601 26.0928 5.71808 23.1582 5.71808C20.2235 5.71808 17.8356 8.10601 17.8356 11.0407ZM18.8319
          11.5245H22.6743V15.3669C20.6594 15.1429 19.0559 13.5399 18.8319 11.5245ZM27.513 11.0407C27.513 13.2786 25.8161
          15.1254 23.642 15.3669V6.71441C25.8161 6.95587 27.513 8.80276 27.513 11.0407ZM22.6743 6.71441V10.5568H18.8319C19.0559
          8.54145 20.6594 6.93839 22.6743 6.71441Z" />
      <path d="M3.31948 7.98315V12.4923H11.0614V7.98315L11.7267 8.51522L12.3311 7.75965L7.19045 3.64722L2.04932
          7.75965L2.65368 8.51522L3.31948 7.98315ZM8.15819 11.5245H6.2227V9.58905H8.15819V11.5245ZM10.0937
          7.20891V11.5245H9.12593V8.62131H5.25496V11.5245H4.28722V7.20891L7.19045 4.88619L10.0937 7.20891Z" />
      <path d="M2.35168 15.3955H3.31943V16.3632H2.35168V15.3955Z" />
      <path d="M4.28723 15.3955H12.0292V16.3632H4.28723V15.3955Z" />
      <path d="M2.35168 13.46H12.0291V14.4278H2.35168V13.46Z" />
      <path d="M13.9647 3.78262H14.9324V8.13746H15.9002V3.78262H16.8679V7.16972H17.8357V3.78262H18.8034V5.71811H19.7711V2.81488H12.9969V7.16972H13.9647V3.78262Z" />
    </g>
  </symbol>
</svg>

<!--quality assurance-->
<svg display="none">
  <symbol viewBox="0 0 61 56" id="quality-assurance">
    <g>
      <path d="M53.815 19.8786L49.2522 15.5617L50.1713 9.61569C50.3119 8.70626 49.6393 7.85858 48.6508 7.70013L42.1883 6.66312L39.1121
          1.35616C38.6419 0.545032 37.5529 0.221307 36.6522 0.624715L30.7587 3.26173L24.8636 0.624715C23.9621 0.221307 22.8742 0.545259
          22.4037 1.35661L19.3287 6.66312L12.8655 7.70013C11.8772 7.85858 11.2044 8.70626 11.345 9.61569L12.2639 15.5617L7.70111 19.8786C7.00348
          20.5388 7.00348 21.5863 7.70136 22.2464L12.2639 26.5629L11.345 32.5121C11.2046 33.4213 11.8772 34.269 12.8655 34.4274L18.0381
          35.2574V53.6714C18.0381 54.2614 18.3719 54.8094 18.9202 55.1195C19.2188 55.2886 19.5581 55.374 19.8981 55.374C20.1823 55.374 20.4673
          55.3145 20.7299 55.1942L30.7589 50.6057L40.7864 55.1942C41.3627 55.458 42.0477 55.4298 42.5961 55.1195C43.1444 54.8092 43.4782 54.2611
          43.4782 53.6711V35.2576L48.651 34.4272C49.6393 34.2685 50.3119 33.4211 50.1716 32.5116L49.2524 26.5624L53.815 22.2462C54.5123 21.5865
          54.5123 20.5388 53.815 19.8786ZM31.5905 47.1791C31.0672 46.9396 30.4509 46.9394 29.9271 47.1791L21.7581 50.9167V39.6556L22.4039
          40.77C22.8742 41.5816 23.9634 41.9051 24.8641 41.5015L30.7589 38.8626L36.6519 41.5015C36.9148 41.6191 37.1936 41.6749 37.4681
          41.6749C38.1352 41.6749 38.7791 41.3448 39.1124 40.7703L39.7582 39.6567V50.9167L31.5905 47.1791ZM45.9463 24.7931C45.5473 25.1706
          45.361 25.6955 45.4414 26.2156L46.2358 31.3577L40.6505 32.2542C40.0855 32.3448 39.5977 32.6692 39.3286 33.133L36.6698 37.7187L31.5761
          35.4379C31.3181 35.3225 31.0384 35.2647 30.7587 35.2647C30.4789 35.2647 30.1992 35.3223 29.9415 35.4379L24.8465 37.7187L22.1887
          33.1332C21.9198 32.6692 21.432 32.3448 20.8668 32.2542L15.2803 31.3577L16.0744 26.2153C16.1548 25.6955 15.9685 25.1704 15.5695
          24.7931L11.626 21.0623L15.5697 17.3311C15.9685 16.9535 16.1548 16.4287 16.0744 15.9088L15.2803 10.7698L20.8668 9.87335C21.432 9.78277
          21.9198 9.45814 22.1889 8.99412L24.8468 4.40726L29.942 6.6865C30.4573 6.91715 31.0602 6.91715 31.5756 6.6865L36.6693 4.40726L39.3286
          8.99435C39.5975 9.45814 40.0853 9.78255 40.6505 9.87335L46.2358 10.7696L45.4414 15.9086C45.361 16.4287 45.5473 16.9535 45.9461
          17.3311L49.8898 21.0623L45.9463 24.7931Z" />
      <path d="M30.7586 9.42004C23.7444 9.42004 18.0378 14.6428 18.0378 21.0626C18.0378 27.4837 23.7444 32.7076 30.7586 32.7076C37.7719
          32.7076 43.4777 27.4837 43.4777 21.0626C43.4777 14.6428 37.7719 9.42004 30.7586 9.42004ZM30.7586 29.3024C25.7956 29.3024 21.7579
          25.6061 21.7579 21.0626C21.7579 16.5204 25.7956 12.8253 30.7586 12.8253C35.7207 12.8253 39.7577 16.5204 39.7577 21.0626C39.7577 25.6061
          35.7207 29.3024 30.7586 29.3024Z" />
      <path d="M34.5504 16.7431L29.0559 21.7715L26.965 19.8598C26.2383 19.1951 25.0605 19.1958 24.3344 19.8612C23.6085 20.5265 23.6092
          21.6044 24.3361 22.2689L27.742 25.3831C28.105 25.7152 28.5807 25.8812 29.0564 25.8812C29.5323 25.8812 30.0084 25.715
          30.3715 25.3827L37.1804 19.1513C37.9071 18.4866 37.9071 17.4085 37.1807 16.7433C36.4545 16.0784 35.2768 16.0782 34.5504
          16.7431Z" />
    </g>
  </symbol>
</svg>

<!--respect-->
<svg display="none">
  <symbol viewBox="0 0 31 31" id="respect">
    <g>
      <path d="M28.044 6.04149C27.9344 5.93192 27.7839 5.86975 27.6297 5.86975C27.475 5.86975 27.3244 5.93192 27.2148
6.04149C27.1059 6.15041 27.0437 6.30106 27.0437 6.45575C27.0437 6.60985 27.1059 6.76108 27.2148 6.87006C27.3244
6.97905 27.475 7.04174 27.6297 7.04174C27.7838 7.04174 27.9344 6.97911 28.044 6.87006C28.153 6.76108 28.2151
6.60991 28.2151 6.45575C28.2151 6.30106 28.153 6.15041 28.044 6.04149Z" />
      <path d="M14.5858 19.8419C14.4763 19.7323 14.3256 19.6702 14.1714 19.6702C14.0168 19.6702 13.8661 19.7323 13.7565
19.8419C13.6476 19.9508 13.5854 20.1015 13.5854 20.2562C13.5854 20.4103 13.6476 20.5614 13.7565 20.6705C13.8661
20.7795 14.0167 20.8422 14.1714 20.8422C14.3255 20.8422 14.4762 20.7795 14.5858 20.6705C14.6947 20.5615 14.7569
20.4103 14.7569 20.2562C14.7569 20.1015 14.6948 19.9508 14.5858 19.8419Z" />
      <path d="M29.4634 7.98761C29.3034 7.70624 28.9455 7.60792 28.6643 7.76788C28.383 7.92784 28.2846 8.28561 28.4446
8.56692C30.1852 11.6277 29.6598 15.5066 27.1667 17.9996L26.7224 18.444C26.6151 18.1623 26.4488 17.8981 26.2222
17.6716L20.2013 11.6508C20.5951 11.4571 20.9589 11.1986 21.2783 10.8792L22.433 9.72438C22.6619 9.49557 22.6619
9.1245 22.433 8.89569C22.2042 8.66688 21.8332 8.66688 21.6043 8.89569L20.4495 10.0505C19.907 10.593 19.1858 10.8917
18.4186 10.8917H16.1102C15.9548 10.8917 15.8058 10.9535 15.6958 11.0634L13.9286 12.8306C13.4039 13.3554 12.55 13.3554
12.0252 12.8306C11.5004 12.3058 11.5004 11.4519 12.0252 10.9271L16.0597 6.89266C18.5253 4.42704 22.3745 3.88481 25.4199
5.57407C25.7029 5.73093 26.0596 5.62891 26.2166 5.34585C26.3736 5.06284 26.2714 4.70612 25.9884 4.54915C24.3086 3.61757
22.3296 3.24473 20.4154 3.49968C18.6241 3.73821 16.9845 4.48827 15.6404 5.67843C13.9893 4.21469 11.8874 3.41425 9.66201
3.41425C7.25111 3.41425 4.98459 4.35309 3.2798 6.05782C1.57502 7.76255 0.63623 10.0292 0.63623 12.4401C0.63623 14.851
1.57508 17.1175 3.2798 18.8223L3.50064 19.0431C3.53908 19.0815 3.58174 19.1129 3.6268 19.1384C3.666 19.6454 3.8784 20.1413
4.26529 20.5281C4.6959 20.9587 5.26121 21.1738 5.8267 21.1738C5.85605 21.1738 5.88547 21.1729 5.91482 21.1717C5.91365
21.2014 5.91266 21.231 5.91266 21.2608C5.91266 21.8507 6.14234 22.4052 6.55941 22.8223C6.99002 23.2528 7.55533
23.468 8.12082 23.468C8.15018 23.468 8.17959 23.467 8.20895 23.4658C8.20777 23.4955 8.20678 23.5251 8.20678 23.555C8.20678
24.1448 8.43646 24.6993 8.85359 25.1164C9.28414 25.5469 9.84957 25.7621 10.415 25.7621C10.4447 25.7621 10.4744 25.7611 10.5041
25.76C10.4803 26.3548 10.6946 26.9575 11.1477 27.4106C11.5648 27.8277 12.1194 28.0574 12.7091 28.0574C13.299 28.0574 13.8535
27.8277 14.2705 27.4106L15.0895 26.5916L16.1957 27.6977C16.6128 28.1148 17.1673 28.3445 17.7571 28.3445C18.3469 28.3445
18.9014 28.1148 19.3185 27.6977C19.7771 27.2392 19.9913 26.6274 19.9614 26.0256C19.9982 26.0275 20.0351 26.0285 20.072
26.0285C20.6374 26.0285 21.203 25.8133 21.6335 25.3827C22.0863 24.9299 22.3006 24.3276 22.2771 23.7332C22.3067 23.7343
22.3364 23.7353 22.3662 23.7353C22.956 23.7353 23.5105 23.5056 23.9276 23.0886C24.3805 22.6357 24.5947 22.0335 24.5712
21.439C24.6008 21.4401 24.6305 21.4411 24.6603 21.4411C25.2501 21.4411 25.8046 21.2115 26.2217 20.7944C26.4335 20.5826
26.593 20.3379 26.7006 20.0767C26.7576 20.049 26.8112 20.012 26.8586 19.9646L27.995 18.8283C30.8603 15.9636 31.4639
11.5056 29.4634 7.98761ZM5.82676 20.0029C5.54996 20.0029 5.28975 19.8951 5.09398 19.6994C4.89828 19.5037 4.79047 19.2435 4.79047
18.9667C4.79047 18.6899 4.89822 18.4297 5.09398 18.234L6.10379 17.2241C6.29949 17.0284 6.55977 16.9206 6.83656 16.9206C7.1133
16.9206 7.37357 17.0284 7.56928 17.2241C7.97334 17.6282 7.97334 18.2856 7.56928 18.6896L6.55947 19.6994C6.36377 19.8951 6.10361
20.0029 5.82676 20.0029ZM7.38828 21.9936C7.19252 21.7979 7.08477 21.5376 7.08477 21.2609C7.08477 20.9841 7.19252 20.7239 7.38828
20.5282L8.39814 19.5183C8.39814 19.5183 8.39814 19.5183 8.39814 19.5183C8.59385 19.3226 8.85406 19.2148 9.13086 19.2148C9.4076
19.2148 9.66787 19.3225 9.86357 19.5183C10.2676 19.9223 10.2676 20.5797 9.86357 20.9837L8.85377 21.9936C8.44965 22.3976 7.79211
22.3976 7.38828 21.9936ZM9.6824 24.2877C9.48664 24.092 9.37889 23.8318 9.37889 23.555C9.37889 23.2782 9.48664 23.018 9.6824
22.8223L10.6923 21.8124C10.6923 21.8124 10.6923 21.8125 10.6923 21.8124C10.888 21.6167 11.1482 21.5089 11.425 21.5089C11.7018
21.5089 11.962 21.6166 12.1577 21.8124C12.5618 22.2165 12.5618 22.8739 12.1577 23.2779L11.1478 24.2877C10.7438 24.6918 10.0865
24.6918 9.6824 24.2877ZM14.4519 25.5721L13.442 26.582C13.2463 26.7777 12.9861 26.8856 12.7093 26.8856C12.4326 26.8856 12.1723
26.7778 11.9766 26.582C11.5725 26.1779 11.5725 25.5206 11.9766 25.1166L12.9864 24.1067C12.9864 24.1067 12.9864 24.1067 12.9864
24.1066C13.1821 23.9109 13.4424 23.8031 13.7192 23.8031C13.9959 23.8031 14.2562 23.9109 14.4519 24.1066C14.6476 24.3023 14.7554
24.5626 14.7554 24.8393C14.7554 25.1163 14.6476 25.3764 14.4519 25.5721ZM25.3934 19.9657C25.1977 20.1615 24.9375 20.2692 24.6607
20.2692C24.3839 20.2692 24.1237 20.1615 23.928 19.9657L21.4889 17.5266C21.4888 17.5265 21.4888 17.5264 21.4886 17.5263L19.1947
15.2324C18.9658 15.0036 18.5949 15.0036 18.3659 15.2324C18.1371 15.4612 18.1371 15.8323 18.3659 16.0611L23.0993 20.7943C23.5033
21.1984 23.5033 21.8558 23.0993 22.2598C22.9036 22.4555 22.6433 22.5633 22.3665 22.5633C22.0897 22.5633 21.8295 22.4555 21.6338
22.2598L16.9005 17.5265C16.6716 17.2977 16.3007 17.2977 16.0718 17.5265C15.8429 17.7553 15.8429 18.1264 16.0718 18.3552L18.3655
20.6489C18.3656 20.6491 18.3658 20.6493 18.366 20.6495L20.8051 23.0885C21.2092 23.4926 21.2092 24.15 20.8052 24.5541C20.4011 24.9581
19.7436 24.9581 19.3397 24.5541L16.9006 22.1149C16.8554 22.0699 16.8048 22.034 16.7508 22.0067L16.0551 21.311C15.8262 21.0823 15.4553
21.0823 15.2264 21.311C14.9976 21.5398 14.9976 21.9109 15.2264 22.1398L18.4902 25.4034C18.8942 25.8075 18.8942 26.4649 18.4902
26.8689C18.2945 27.0647 18.0342 27.1724 17.7574 27.1724C17.4806 27.1724 17.2204 27.0647 17.0247 26.8689L15.7828 25.627C15.8774
25.3788 15.9274 25.1129 15.9274 24.8393C15.9274 24.2495 15.6978 23.6949 15.2807 23.2779C14.8636 22.8608 14.309 22.6311 13.7193
22.6311C13.6895 22.6311 13.6598 22.6321 13.6302 22.6333C13.6537 22.0388 13.4394 21.4366 12.9866 20.9837C12.5694 20.5666 12.0149
20.3369 11.4252 20.3369C11.3953 20.3369 11.3657 20.3379 11.336 20.3391C11.3596 19.7446 11.1453 19.1424 10.6924 18.6895C10.2753
18.2724 9.72078 18.0428 9.13103 18.0428C9.10121 18.0428 9.07156 18.0438 9.04191 18.0449C9.06547 17.4504 8.85119 16.8482 8.39832
16.3953C7.53734 15.5344 6.13631 15.5344 5.27533 16.3953L4.26553 17.4051C4.13814 17.5325 4.03016 17.6719 3.94039 17.8195C2.56396
16.3575 1.80846 14.4569 1.80846 12.44C1.80846 10.3421 2.62537 8.36981 4.10885 6.88645C5.59221 5.40309 7.56459 4.58612 9.66236
4.58612C11.5688 4.58612 13.3715 5.26089 14.7978 6.49733L11.1968 10.0983C10.7212 10.5739 10.4593 11.2062 10.4593 11.8788C10.4593
12.5514 10.7212 13.1836 11.1968 13.6592C11.6877 14.1501 12.3325 14.3955 12.9772 14.3955C13.622 14.3955 14.2668 14.1501 14.7577
13.6592L16.3534 12.0636H18.419C18.5895 12.0636 18.7582 12.052 18.9249 12.0313L25.3938 18.5001C25.7974 18.9043 25.7974 19.5617
25.3934 19.9657Z" />
    </g>
  </symbol>
</svg>

<!-- developer -->
<svg display="none">
  <symbol viewBox="0 0 31 31" id="developer">
    <g>
      <path d="M29.632 23.344C29.9555 23.344 30.2179 23.0816 30.2179 22.7581V21.7334C30.2178 20.1695 29.317
          18.8128 28.0075 18.1523C28.6888 17.5755 29.1224 16.7149 29.1224 15.7544V15.0241C29.1224 13.2917 27.713
          11.8822 25.9805 11.8822C24.2481 11.8822 22.8386 13.2917 22.8386 15.0241V15.7544C22.8386 16.5893 23.1666
          17.3486 23.6996 17.9118C22.6695 18.1416 21.6954 18.5802 20.8253 19.2149L15.5195 23.0856C15.4098 23.1656
          15.3093 23.2556 15.2179 23.3533C15.1265 23.2556 15.0259 23.1656 14.9162 23.0856L9.61046 19.2149C8.74034
          18.5802 7.76628 18.1416 6.73615 17.9118C7.26917 17.3486 7.59718 16.5893 7.59718 15.7544V15.0241C7.59718
          13.2917 6.18771 11.8822 4.45527 11.8822C2.72283 11.8822 1.31336 13.2917 1.31336 15.0241V15.7544C1.31336
          16.7149 1.74701 17.5755 2.42828 18.1523C1.11871 18.8128 0.217896 20.1695 0.217896 21.7335V29.7514C0.217896
          30.0749 0.480278 30.3373 0.803832 30.3373H8.10665C8.4302 30.3373 8.69259 30.0749 8.69259 29.7514V24.3711L12.5263
          26.6827C13.2029 27.0906 14.0174 27.1021 14.7053 26.7137C14.8996 26.604 15.0708 26.4684 15.2179 26.3136C15.3649
          26.4684 15.5361 26.604 15.7304 26.7137C16.0652 26.9028 16.4299 26.9971 16.7941 26.9971C17.1784 26.9971 17.5621
          26.8921 17.9094 26.6827L21.7431 24.3711V29.7514C21.7431 30.0749 22.0055 30.3373 22.3291 30.3373H29.6319C29.9555
          30.3373 30.2178 30.0749 30.2178 29.7514V27.6344C30.2178 27.3108 29.9555 27.0485 29.6319 27.0485C29.3083 27.0485
          29.046 27.3108 29.046 27.6344V29.1655H22.915V23.7581C22.915 23.7278 22.912 23.6982 22.9076 23.6691L23.5445
          23.2851C23.8216 23.1179 23.9108 22.7579 23.7437 22.4807C23.5765 22.2036 23.2163 22.1142 22.9394 22.2815L17.3043
          25.6791C16.9945 25.8659 16.6215 25.8712 16.3067 25.6933C15.9918 25.5155 15.8038 25.1934 15.8038 24.8317C15.8038
          24.5167 15.9557 24.2179 16.2102 24.0322L21.516 20.1615C22.6506 19.3337 23.9928 18.8962 25.3974 18.8962H26.2087C27.7732
          18.8962 29.046 20.169 29.046 21.7334V22.7581C29.046 23.0816 29.3084 23.344 29.632 23.344ZM2.48518 15.0241C2.48518 13.9378
          3.36894 13.0541 4.45521 13.0541C5.54148 13.0541 6.42525 13.9378 6.42525 15.0241V15.7544C6.42525 16.8407 5.54148
          17.7245 4.45521 17.7245C3.36894 17.7245 2.48518 16.8407 2.48518 15.7544V15.0241ZM14.129 25.6933C13.814 25.8711
          13.4411 25.8658 13.1314 25.6791L7.49634 22.2815C7.21925 22.1143 6.85907 22.2036 6.69202 22.4807C6.52491 22.7578
          6.61409 23.1179 6.89124 23.2851L7.52745 23.6687C7.523 23.6978 7.52066 23.7277 7.52066 23.7581V29.1655H1.38977V21.7335C1.38977
          20.169 2.6626 18.8963 4.22705 18.8963H5.03839C6.443 18.8963 7.78515 19.3338 8.91981 20.1616L14.2256 24.0323C14.4801 24.2179
          14.632 24.5168 14.632 24.8317C14.6319 25.1934 14.4439 25.5155 14.129 25.6933ZM27.9506 15.7544C27.9506 16.8407
          27.0668 17.7245 25.9805 17.7245C24.8943 17.7245 24.0105 16.8407 24.0105 15.7544V15.0241C24.0105 13.9378 24.8943
          13.0541 25.9805 13.0541C27.0668 13.0541 27.9506 13.9378 27.9506 15.0241V15.7544Z" />
      <path d="M30.0462 24.71C29.9372 24.6011 29.7861 24.5389 29.632 24.5389C29.4779 24.5389 29.3267 24.6011
          29.2177 24.71C29.1087 24.8196 29.046 24.9702 29.046 25.1243C29.046 25.279 29.1087 25.4296 29.2177 25.5391C29.3267
          25.6481 29.4779 25.7108 29.632 25.7108C29.7861 25.7108 29.9372 25.6482 30.0462 25.5391C30.1551 25.4296 30.2179 25.279
          30.2179 25.1243C30.2179 24.9702 30.1552 24.819 30.0462 24.71Z" />
      <path d="M24.4197 0.339966H22.4861C22.1625 0.339966 21.9002 0.60229 21.9002 0.925902C21.9002
          1.24951 22.1625 1.51184 22.4861 1.51184H23.0051L16.1578 8.35915L11.677 3.87832C11.567 3.76846
          11.418 3.7067 11.2627 3.7067C11.1073 3.7067 10.9583 3.76846 10.8483 3.87832L6.67307 8.05358C6.44426
          8.28245 6.44426 8.65341 6.67307 8.88227C6.90194 9.11114 7.27284 9.11108 7.50176 8.88227L11.2627 5.12126L15.7435
          9.6021C15.858 9.71653 16.0079 9.77372 16.1579 9.77372C16.3078 9.77372 16.4577 9.71653 16.5722 9.6021L23.8337
          2.34053V2.85949C23.8337 3.1831 24.0961 3.44543 24.4197 3.44543C24.7432 3.44543 25.0056 3.1831 25.0056 2.85949V0.925902C25.0056
          0.60229 24.7432 0.339966 24.4197 0.339966Z" />
      <path d="M6.02272 9.53258C5.91379 9.4236 5.76262 9.3609 5.60852 9.3609C5.45442 9.3609 5.30325
          9.4236 5.19426 9.53258C5.08528 9.64156 5.02258 9.79274 5.02258 9.94684C5.02258 10.1009 5.08522
          10.2521 5.19426 10.3611C5.30331 10.4701 5.45442 10.5328 5.60852 10.5328C5.76262 10.5328 5.91379
          10.4701 6.02272 10.3611C6.1317 10.2521 6.19446 10.1009 6.19446 9.94684C6.19446 9.79215 6.13176 9.64156 6.02272
          9.53258Z" />
    </g>
  </symbol>
</svg>

<!-- team -->
<svg display="none">
  <symbol viewBox="0 0 31 31" id="team">
    <g>
      <path d="M21.9983 14.8373C20.7221 14.8373 19.6873 13.8027 19.6873 12.5263C19.6873 11.2501 20.7221 10.2153
          21.9983 10.2153C23.2747 10.2153 24.3093 11.2501 24.3093 12.5263C24.3079 13.8022 23.2741 14.8359 21.9983 14.8373ZM21.9983
          11.1398C21.2326 11.1398 20.6117 11.7606 20.6117 12.5263C20.6117 13.2923 21.2326 13.9128 21.9983 13.9128C22.7643 13.9128
          23.3848 13.2923 23.3848 12.5263C23.3848 11.7606 22.7643 11.1398 21.9983 11.1398Z" />
      <path d="M9.05687 14.8373C7.78065 14.8373 6.74585 13.8027 6.74585 12.5263C6.74585 11.2501 7.78065 10.2153 9.05687
          10.2153C10.3333 10.2153 11.3679 11.2501 11.3679 12.5263C11.3664 13.8022 10.3327 14.8359 9.05687 14.8373ZM9.05687
          11.1398C8.29117 11.1398 7.67033 11.7606 7.67033 12.5263C7.67033 13.2923 8.29117 13.9128 9.05687 13.9128C9.82293
          13.9128 10.4434 13.2923 10.4434 12.5263C10.4434 11.7606 9.82293 11.1398 9.05687 11.1398Z" />
      <path d="M24.7714 17.8149L29.1775 13.8095C29.6929 13.3297 29.7291 12.5252 29.2585 12.0013C28.788 11.4773
          27.9843 11.4269 27.4522 11.888L24.1336 14.8373H19.4683L15.9896 19.0895V7.44215H20.6116V9.29093H28.2272L27.118 6.51767L28.2272
          3.74459H22.9226V1.89581H15.0653V19.0895L11.5869 14.8373H6.92164L3.60295 11.8875C3.07055 11.4254 2.26597 11.4755 1.79505
          11.9998C1.32376 12.5243 1.36011 13.3294 1.87679 13.8095L6.28362 17.8149V28.703H1.66158V29.6275H29.3933V28.703H24.7714V17.8149ZM22.9226
          4.66889H26.8618L26.1225 6.51767L26.8618 8.36645H21.5359V7.44215H22.9226V4.66889ZM15.9896
          2.82011H21.9981V6.51767H15.9896V2.82011ZM10.9055 28.703H9.51894V22.2324H8.59446V28.703H7.20792V17.4062L2.49908
          13.1272C2.36652 13.0039 2.34301 12.8026 2.4432 12.6516C2.50179 12.5637 2.59547 12.5054 2.70018 12.4919C2.80489
          12.4781 2.9105 12.5105 2.98953 12.5805L6.57026 15.7616H11.1487L14.5855 19.9622C14.7188 20.1214 14.6978 20.3583
          14.5388 20.4917C14.3795 20.6248 14.1424 20.6039 14.0093 20.4447L10.9055 16.8247V28.703ZM19.2251 28.703H11.83V19.3206L13.3091
          21.0446C13.7379 21.5441 14.4719 21.6444 15.019 21.2784C15.0362 21.2668 15.051 21.2522 15.0678 21.2395V25.0055H15.9921V21.2404C16.0095
          21.2536 16.0248 21.2692 16.0433 21.2813C16.59 21.6448 17.3219 21.5441 17.7497 21.046L19.2251 19.3206V28.703ZM23.8469
          28.703H22.4604V22.2324H21.5359V28.703H20.1494V16.8247L17.0459 20.4462C16.9216 20.5901 16.7093 20.6185 16.5518 20.5122C16.4636
          20.4541 16.4042 20.361 16.3891 20.2565C16.3731 20.1518 16.4023 20.0452 16.4695 19.9635L19.9063 15.7616H24.4849L28.065 12.5791C28.1434
          12.508 28.2496 12.4752 28.3543 12.4899C28.4606 12.5033 28.5554 12.5628 28.6136 12.6527C28.7131 12.8029 28.6887 13.0033 28.5558
          13.1254L23.8469 17.4062V28.703Z" />
    </g>
  </symbol>
</svg>

<section class="container-fluid">
  <section class=" header-services">
    <section class="header-bg-services">
      <section class="text-bg-services">
        <h2>Offering <span>best</span>  services</h2>
        <p>Our building restoration services include work on commercial and historical building restorations.</p>
      </section> <!--text-bg-services -->
    </section> <!--header-bg-services -->
  </section> <!--header-services -->
  <!--OUR SERVICES -->
  <section class="container-services-advantages">
    <section class="row">
      <section class="col-lg-12 services-heading ">
        <h2>Our services</h2>
        <section class="hr-heading "></section>
      </section>  <!--row-->
    </section> <!--col-lg-12 services-heading -->
    <section class="row">
      <section class="col-lg-12 services-description">
        <p>
          Our company offers a wide range of services for the restoration of commercial and historical buildings.
          Extensive experience in this area allows us to enables the needs of our customers by providing high quality based on your budget.
        </p>
      </section> <!--col-lg-12 services-description -->
    </section> <!--row-->
    <!-- CRAFTSMANS -->
    <section class="row">
      <section class="col-lg-4 services-advantages">
        <span class="services-advantages-icon">
          <svg>
            <use xlink:href="#craftsmans"></use>
          </svg>
        </span>
        <p>
          Our craftsmans have a broad range of experience with all
          types of materials and buildings.
        </p>
      </section> <!--col-lg-12 services-description CRAFTSMANS-->
      <!-- BUDGET-->
      <section class="col-lg-4 services-advantages">
        <span class="services-advantages-icon">
          <svg>
            <use xlink:href="#budget"></use>
          </svg>
        </span>
        <p>
          It is vital for any customers not to exceed the budget and that
          is why we pay utmost attention to cost containment.
        </p>
      </section> <!--col-lg-12 services-description PLANNING-->
      <!-- QUALITY MATERIALS-->
      <section class="col-lg-4 services-advantages">
        <span class="services-advantages-icon">
          <svg>
            <use xlink:href="#quality-materials"></use>
          </svg>
        </span>
        <p>
          Use of high quality materials from proven manufacturers.
        </p>
      </section> <!--col-lg-12 services-description QUALITY MATERIALS-->
    </section> <!--row -->

    <section class="row">
      <!--PLANNING-->
      <section class="col-lg-4 services-advantages">
        <span class="services-advantages-icon">
          <svg>
            <use xlink:href="#planning"></use>
          </svg>
        </span>
        <p>
          We take our time on initial planning before any restoration begins,
          to balance all the financial and efficiency issues beforehand.
        </p>
      </section> <!--col-lg-12 services-description PLANNING-->
      <!--QUALITY ASSURANCE-->
      <section class="col-lg-4 services-advantages">
        <span class="services-advantages-icon">
          <svg>
            <use xlink:href="#quality-assurance"></use>
          </svg>
        </span>
        <p>
          Every project we work on is checked for quality assurance
          to satisfy the needs of the modern society.
        </p>
      </section> <!--col-lg-12 services-description QUALITY ASSURANCE-->
      <!--RESPECT-->
      <section class="col-lg-4 services-advantages">
        <span class="services-advantages-icon">
          <svg>
            <use xlink:href="#respect"></use>
          </svg>
        </span>
        <p>
          Maintaining safety, keeping a low level of noise and collaborating with
          facility's staff requires an extremely well planned management.
          These are the keys to successfully completing the work and minimal
          inconvenience to the, residents and staff members.
        </p>
      </section> <!--col-lg-12 services-description RESPECT-->
    </section><!--row-->

    <section class="row">
      <!--TEAM-->
      <section class="col-lg-4 services-advantages">
        <span class="services-advantages-icon">
          <svg>
            <use xlink:href="#team"></use>
          </svg>
        </span>
        <p>
          We work closely with architects and engineers to
          ensure the best results from our work.
        </p>
      </section> <!--col-lg-12 services-description TEAM-->
      <!--DEVELOP-->
      <section class="col-lg-4 services-advantages">
        <span class="services-advantages-icon">
          <svg>
            <use xlink:href="#develop"></use>
          </svg>
        </span>
        <p>
          Our restoration specialists work on projects
          of various sizes and technical complexity.
        </p>
      </section> <!--col-lg-12 services-description DEVELOP-->
    </section><!--row-->
  </section>

  <!-- SERVICES LIST-->
  <section class="list-services-offers">
    <section class="row">
      <!-- Building envelop restoration-->
      <section class="col-sm-4 services-offers">
        <figure class="effect-dexter">
          <img src="Images/restoration-enclosing.jpg"
               alt="restoration-enclosing" />
          <figcaption>
            <h2>Building envelop restoration</h2>
            <p>
              Including balcony slab repairs...
            </p>
          </figcaption>
        </figure>
      </section>

      <!-- Masonry repairs-->
      <section class="col-sm-4 services-offers">
        <figure class="effect-dexter">
          <img src="Images/restoration-enclosing.jpg"
               alt="restoration-enclosing" />
          <figcaption>
            <h2>Masonry repairs</h2>
            <p>
              Brick replacement, block, glass block, stone, tuck
              pointing...
            </p>
          </figcaption>
        </figure>
      </section>

      <!-- Concrete repairs-->
      <section class="col-sm-4 services-offers">
        <figure class="effect-dexter">
          <img src="Images/restoration-enclosing.jpg"
               alt="restoration-enclosing" />
          <figcaption>
            <h2>Concrete repairs</h2>
            <p>
              Precast panel, underground garage slab,
              ramps, columns, canopies, patching...
            </p>
          </figcaption>
        </figure>
      </section>
    </section>
    <section class="row">
      <!-- Caulking, glazing, sealants-->
      <section class="col-sm-4 services-offers">
        <figure class="effect-dexter">
          <img src="Images/restoration-enclosing.jpg"
               alt="restoration-enclosing" />
          <figcaption>
            <h2>Caulking, glazing, sealants</h2>
          </figcaption>
        </figure>
      </section>
      <!-- Waterproofing -->
      <section class="col-sm-4 services-offers">
        <figure class="effect-dexter">
          <img src="Images/restoration-enclosing.jpg"
               alt="restoration-enclosing" />
          <figcaption>
            <h2>Waterproofing </h2>
            <p>cold applied, penetrating sealers, hot robber application</p>
          </figcaption>
        </figure>
      </section>

      <!-- Wall coating-->
      <section class="col-sm-4 services-offers">
        <figure class="effect-dexter">
          <img src="Images/restoration-enclosing.jpg"
               alt="restoration-enclosing" />
          <figcaption>
            <h2>Wall coating </h2>
          </figcaption>
        </figure>
      </section>
    </section>

    <!-- Flashing installation and replacement-->
    <section class="row">
      <section class="col-sm-4 services-offers">
        <figure class="effect-dexter">
          <img src="Images/restoration-enclosing.jpg"
               alt="restoration-enclosing" />
          <figcaption>
            <h2>Wall coating </h2>
          </figcaption>
        </figure>
      </section>
      <!-- Insulation installation-->
      <section class="col-sm-4 services-offers">
        <figure class="effect-dexter">
          <img src="Images/restoration-enclosing.jpg"
               alt="restoration-enclosing" />
          <figcaption>
            <h2>Insulation installation</h2>
          </figcaption>
        </figure>
      </section>

    </section>


  </section><!-- list-services-offers-->
</section><!-- container-fluid-->